
[id^="account"] .results-invite-1 {
    display:none;
}

.tiles.summary [class*="-row"].invite-row > [class^="id"] label {
    margin-left:0;
    padding-left:0;
    margin-bottom:10px;
}

.tiles.summary [class*="-row"].invite-row > [class^="id"] label.highlighted-link {
    margin-bottom:0;
}

.tiles.summary [class*="-row"].invite-row > [class^="id"] label.parent,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label.year,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label._code
{
    margin: 0 -2px;
    padding: 0 2px;
    display:inline-block;
    width:33.33%
}

[id^="register"] .pane-content
{
    text-align: center;
}

#login .pane-content
{
    text-align: center;
    padding-bottom: 40px;
}

#login label span {
    margin-left: -100%;
    width: 100%;
    display: inline-block;
}

.signup-or {
    border-bottom: 2px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}

.signup-or span {
    background: url("../images/noise_darkgray.png") repeat scroll 0 0 #111111;
    border-radius: 4px 4px 4px 4px;
    color: #CCCCCC;
    font-style: italic;
    padding: 3px 20px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
}

a[href="#sign-in-with-email"]
{
    display:block;
    margin:10px auto;
}

#login .social-login
{
    display: inline-block;
    margin: 0 -2px;
    padding: 100px 140px 0 2px;
    vertical-align: middle;
    text-align: center;
    width:40%;
}

#login .social-login a
{
    display:block;
    margin-left:auto;
    margin-bottom:10px;
    width: 180px;
}

#login .social-login a:last-of-type
{
    margin-bottom: 0;
}

#login .signup-or
{
    display:inline-block;
    width: 200px;
    margin: 0 -102px 20px -102px;
    vertical-align: middle;
    padding-top:100px;
}

[id^="register"] form
{
    max-width: 600px;
    margin:0 auto;
    padding-top: 100px;
}

#login form
{
    margin:0 -2px;
    padding: 100px 2px 0 140px;
    display:inline-block;
    width:50%;
    vertical-align: middle;
}


#account .social-login label span,
#account .type label span,
#account .password label span,
#account .new-password label span,
#account .confirm-password label span,
#account .email label span,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label span,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label span,
#account .first label span,
#account .last label span
{
    width:100%;
    display:inline-block;
    margin-right:-50%;
    padding-right:50%;
}

#account .social-login label input,
#account .password label input,
#account .new-password label input,
#account .confirm-password label input,
#account .email label input,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label.last input,
.tiles.summary [class*="-row"].invite-row > [class^="id"] label.first input,
#account .first label input,
#account .last label input
{
    width:50%;
    display:inline-block;
    margin:0 -4px;
}

[id^="register"] .first,
[id^="register"] .childFirst,
[id^="register"] .last,
[id^="register"] .childLast
{
    margin: 0 -2px;
    padding-right: 3px;
    width: 50%;
    max-width: 300px;
    display:inline-block;
    padding-bottom:5px;
}

[id^="register"] .last
{
    padding-right:0;
    padding-left:2px;
}

[id^="register"] .hasChild {
    float:left;
}

[id^="register"] .email,
[id^="register"] .password,
[id^="register"] .highlighted-link:last-child,
[id^="register"] .parent,
[id^="register"] .year,
[id^="register"] ._code,
#login .email,
#login .password,
#login  .highlighted-link:last-child
{
    width: auto;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom:5px;
    display:block;
}

#account .password,
#account .new-password,
#account .confirm-password
{
    visibility:hidden;
}

#account .edit-icons
{
    text-align: left;
}

#account .highlighted-link > *,
#account .edit-icons > *
{
    vertical-align: bottom;
}

#account a[href*="/reset"],
#account a[href="#edit-password"],
#account a[href="#edit-account"],
#account a[href="#cancel-confirm"]
{
    display:inline-block;
    margin-right:40px;
    text-align: center;
}

#account [value="#save-account"]
{
    display: none;
}

[id^="register"] .form-actions a[href*="/logout"],
#login .form-actions a[href*="/logout"] {
    max-width: 280px;
    float:left;
    text-align: center;
}

#login .form-actions a[href*="/reset"] {
    position:absolute;
    left:10px;
    bottom:10px;
}

#reset.reset-sent form,
#reset .reset-sent-message
{
    display:none;
}

#reset.reset-sent .reset-sent-message
{
    display:block;
}

@media all and (max-width: 1000px)
{

    #login .social-login a
    {
        margin-right:auto;
    }

    #login form,
    #login .signup-or,
    #login .social-login {
        display: block;
        width: auto;
        padding: 40px 0 0;
        margin:0;
    }

}

@media all and (max-width: 700px)
{

    #account a[href*="/premium"]
    {
        display:block;
        margin: 10px auto;
        max-width: 130px;
    }

    [id^="register"] form
    {
        padding-top: 40px;
    }

    [id^="register"] .first, [id^="register"] .last
    {
        margin:0;
        width:100%;
        padding:0;
        max-width: none;
    }

    #account .social-login label span,
    #account .password label span,
    #account .new-password label span,
    #account .confirm-password label span,
    #account .email label span,
    #account .first label span,
    #account .last label span
    {
        display:block;
        width:auto;
        padding:0;
        margin: 0;
    }

    #account .password label input,
    #account .new-password label input,
    #account .confirm-password label input,
    #account .email label input,
    #account .first label input,
    #account .last label input
    {
        width:100%;
        margin: 0;
    }
}


