

#checkout #payment-pane,
#checkout #billing-pane,
#checkout #coupon-pane,
#checkout #gift-pane
{
    width:50%;
    display:inline-block;
    vertical-align: top;
    margin: 0 -4px 10px;
}

#checkout #gift-pane,
#checkout #coupon-pane,
#checkout #billing-pane
{
    float:left;
    clear:left;
}

#checkout #payment-pane
{
    float:right;
    clear:right;
}

#checkout #gift-pane,
#checkout #coupon-pane {
    visibility: hidden;
    height: 0;
    opacity: 0;
    display:none;
}

#checkout #gift-pane.shown-by-default
{
    height: auto;
    opacity: 1;
    visibility: visible;
    display: inline-block;
}

#checkout .invalid-only,
#checkout .form-actions .error
{
    clear: both;
    position: relative;
    padding: 2px 3px;
    border: 2px solid #CC0000;
    color:#660000;
    border-radius: 5px;
}

#checkout .invalid-only
{
    display:none;
}

#checkout.invalid-only .invalid-only
{
    display:inline-block;
}

#checkout.invalid-only.reoccurs-required #billing-pane .reoccurs,
#checkout.invalid-only.first-required #billing-pane .first-name input,
#checkout.invalid-only.last-required #billing-pane .last-name input,
#checkout.invalid-only.email-required #billing-pane .email input,
#checkout.invalid-only.street-required #billing-pane input[name="street1"],
#checkout.invalid-only.city-required #billing-pane .city input,
#checkout.invalid-only.zip-required #billing-pane .zip input,
#checkout.invalid-only.state-required #billing-pane select[name="state"],
#checkout.invalid-only.country-required #billing-pane select[name="country"],
#checkout.invalid-only.cc-number-required #payment-pane .cc-number input,
#checkout.invalid-only.cc-ccv-required #payment-pane input[name="cc-ccv"],
#checkout.invalid-only.cc-month-required #payment-pane select[name="cc-month"],
#checkout.invalid-only.cc-year-required #payment-pane select[name="cc-year"],
#checkout.invalid-only.gift-first-required #gift-pane .first-name input,
#checkout.invalid-only.gift-last-required #gift-pane .last-name input,
#checkout.invalid-only.gift-email-required #gift-pane .email input
{
    border-bottom:3px solid #CC0000;
}

#payment-pane .product-option
{
    margin-right: -110px;
    padding-right: 100px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#payment-pane .product-option .radio
{
    display:block;
}

#payment-pane .product-option + img
{
    vertical-align: middle;
}

#coupon-pane .coupon-code
{
    display:inline-block;
    width:100%;
    padding-right:235px;
    margin-right: -225px;
    vertical-align: middle;
}

#billing-pane a[href="#show-coupon"],
#billing-pane a[href="#show-gift"]
{
    display: block;
    margin-right: auto;
    max-width: 350px;
}

#coupon-pane a[href="#coupon-apply"]
{
    margin-left:auto;
    margin-right:0;
    vertical-align: middle;
}

#payment-pane .cc-year,
#payment-pane .cc-month,
#gift-pane .first-name,
#gift-pane .last-name,
#billing-pane .first-name,
#billing-pane .last-name,
#billing-pane .city,
#billing-pane .zip
{
    width: 50%;
    margin: 0 -2px;
    padding: 0 2px;
    display: inline-block;
    vertical-align: bottom;
}

#checkout .form-actions
{
    width: 50%;
    margin: 0 -4px 0 2px;
    padding:0;
    display: inline-block;
    vertical-align: top;
    float:right;
}

#payment-pane .cc-number
{
    position: relative;
}

#payment-pane .cc-number .cards
{
    display: inline-block;
    vertical-align: bottom;
    height: 28px;
    padding: 3px 5px;
    border-radius: 2px;
    width: 160px;
    opacity: .5;
    position:absolute;
    right:0;
    bottom:0;
    pointer-events:none;
}

#payment-pane .cc-number input:focus ~ .cards {
    opacity: .9;
}

#payment-pane .cc-number img
{
    float:right;
    border-radius: 1px;
}

#payment-pane .cc-number input
{
    padding-right: 160px;
}

#thanks .pane-content
{
    padding-bottom:40px;
    padding-left: 300px;
}

#thanks a[href*="/home"]
{
    position:absolute;
    bottom: 10px;
    left: 10px;
}

#thanks h1:before
{
    content: " ";
    display:block;
    position:absolute;
    top:50%;
    height: 282px;
    width: 269px;
    left: 0;
    margin:-140px 25px 0 25px;
    background: url(../images/Study_Sauce_Logo_Sketch.png) no-repeat 0 0 transparent;
}

#thanks h1
{
    margin-top:80px;
    font-size: 72px;
    color: #FF9900;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

#thanks h2
{
    text-align: center;
    color: #555;
    padding: 0 20px;
}

@media all and (max-width:700px)
{

    #thanks h1:before
    {
        display:none;
    }

    #thanks .pane-content
    {
        padding-left:15px;
    }

    #checkout .form-actions
    {
        width:auto;
        margin:0;
        padding:0;
        display:block;
    }

    #payment-pane .cc-number .cards,
    #payment-pane .cc-number input:focus ~ .cards
    {
        display:none;
    }

    #payment-pane .cc-number input
    {
        padding-right:5px;
    }

    #coupon-pane .coupon-code
    {
        margin-right: 0;
        padding-right: 0;
        display: block;
    }

    .page-cart-checkout #payment-pane
    {
        margin-left:-10px;
        margin-right:-1px;
    }

    #checkout #payment-pane,
    #checkout #billing-pane,
    #checkout #coupon-pane,
    #checkout #gift-pane
    {
        width: auto;
        display:block !important;
        float:none;
        clear:both;
        height:auto !important;
    }
}




