
.dashboard-home
{
    /* background: url(../images/grunge.png) repeat fixed 0 0 #555555; */
    /* background: #555555; */
    background: #DDDDDD;
}

.dashboard-home .panel-pane[id^="uid-"]
{
    padding-top:0;
}

.dashboard-home .panel-pane .panel-pane
{
    display:block;
    padding-left:0;
    padding-right:0;
}

.dashboard-home .player-wrapper iframe.yt-state-1,
.dashboard-home iframe.yt-state-1
{
    padding: 50px 50px 0 50px;
}

.dashboard-home a[href*="/plan/download"]
{
    display:none;
}

.dashboard-home.download-plan a[href*="/plan/download"]
{
    display:inline-block;
    margin-top:-3px;
    margin-left: 10px;
}

.dashboard-home a[href="#yt-pause"]
{
    padding-top:70px;
    padding-right:70px;
}

.dashboard-home .footer
{
    padding: 0 100px 20px 100px;
}

#error404 .pane-content
{
    text-align: center;
}

.dashboard-home .pane-content .nav-tabs>li>a
{
    border-radius: 0;
}

.dashboard-home .pane-content .nav-tabs>li:last-child>a
{
    margin-right:0;
    border-radius: 0 5px 0 0;
}

.panel-pane
{
    display:none;
    margin:0 auto;
    max-width: none;
    width: 100%;
    padding:50px 100px 0 0;
    box-sizing: border-box;
    position:relative;
}

.admin aside + .panel-pane,
.admin .header-wrapper ~ .panel-pane:nth-of-type(2),
.admin .tipsy ~ .panel-pane:nth-of-type(3)
{
    display:inline-block;
    width:auto;
    max-width: none;
}

aside + .panel-pane,
.header-wrapper ~ .panel-pane:nth-of-type(2),
.tipsy ~ .panel-pane:nth-of-type(3)
{
    display:block;
}

.pane-content
{
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

.pane-top {
    background: url("../images/noise_gray.png") repeat scroll 0 0 #EEEEEE;
    margin:-20px -20px 20px -20px;
    padding: 20px 20px 1px 20px;
}

.pane-bottom {
    background: url("../images/noise_gray.png") repeat scroll 0 0 #EEEEEE;
    margin: 0 -20px -20px -20px;
    padding: 20px;
}

.pane-content form > .highlighted-link:last-child {
    margin: 0 -20px;
    padding: 20px;
}

.pane-content h4,
.pane-content h2
{
    margin-top:0;
}

.pane-content h2
{
    margin-bottom:20px;
}

/*
.big-add:active,
.big-add:focus,
.big-add:hover
{
    color:#555555;
}
*/

.big-add:active span,
.big-add:focus span,
.big-add:hover span
{
    color:#0099BB;
}

.big-add
{
    position: relative;
    z-index: 0;
    border-bottom: 0;
    color: #555555;
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-top: 10px;
    padding-left:40px;
    line-height: 140%;
}

.big-add span
{
    line-height: 20px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 50%;
    left:0;
    margin-top:-10px;
    font-size: 50px;
    vertical-align: middle;
}

a[href="#edit-grade"],
a[href="#edit-class"],
a[href="#goal-edit"],
a[href="#edit-deadline"] {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../images/menu_new_half.png) no-repeat left -1552px transparent;
    vertical-align: middle;
}

a[href="#edit-grade"]:hover,
a[href="#edit-class"]:hover,
a[href="#goal-edit"]:hover,
a[href="#edit-deadline"]:hover
{
    background-position: left -1602px;
}

.social-login a[href*="#remove-"],
a[href="#delete-notebook"],
a[href="#remove-grade"],
a[href="#remove-class"],
a[href="#remove-deadline"] {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../images/menu_new_half.png) no-repeat left -1652px transparent;
    vertical-align: middle;
}

.social-login a[href*="#remove-"]:hover,
a[href="#delete-notebook"]:hover,
a[href="#remove-grade"]:hover,
a[href="#remove-class"]:hover,
a[href="#remove-deadline"]:hover
{
    background-position: left -1702px;
}

.fc-event.class0,
.class0 {
    background-color: #FF1100;
}

.fc-event.class1,
.class1
{
    background-color:#FF9900;
}

.fc-event.class2,
.class2
{
    background-color:#FFDD00;
}

.fc-event.class3,
.class3
{
    background-color:#BBEE00;
}

.fc-event.class4,
.class4
{
    background-color:#33DD00;
}

.fc-event.class5,
.class5
{
    background-color:#009999;
}

.fc-event.class6,
.class6
{
    background-color:#1133AA;
}

.fc-event.class7,
.class7
{
    background-color:#6611AA;
}

.fc-event.class8,
.class8
{
    background-color:#BB0088;
}

.fc-event.class9,
.class9
{
    background-color:#FF5500;
}

.fc-event.class10,
.class10
{
    background-color:#3366AA;
}

.fc-event.class11,
.class11
{
    background-color:#EE5588;
}

#upload-file .plupload
{
    padding:0 2px;
    margin:0 -2px;
    display:inline-block;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    position:relative;
    width:75%;
}

.dragging #upload-file .plup-filelist {
    border:4px dashed #09B;
}

#upload-file .modal-body {
    text-align: center;
}

#upload-file .plupload .plup-select
{
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    font-weight: bold;
    color:#555555;
    z-index: 10;
}

#upload-file .plupload input
{
    font-size: 999px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    color:transparent;
    background:transparent;
    top:0;
    left:0;
}

#upload-file .plup-filelist
{
    padding-bottom:100%;
    position:relative;
    border:4px solid transparent;
    text-align: center;
}

#upload-file .plupload video,
#upload-file .plupload img
{
    display:block;
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto;
}

#upload-file .plupload .plup-select:hover {
    color:#0099BB;
}

#upload-file .plupload video
{
    max-width:100%;
}

#upload-file .uploaded .plup-select,
#upload-file .uploaded .moxie-shim
{
    display: none;
}

.entity-search.buttons-1 {
    position:relative;
}

.entity-search .title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.entity-search.buttons-1 .title {
    padding:0 50px 0 10px;
    margin-right:-40px;
    width:100%;
}

.entity-search.buttons-2 .title {
    padding:0 90px 0 10px;
    margin-right:-80px;
    width:100%;
}

a[href="#insert-entity"],
a[href="#subtract-entity"] {
    width: 30px;
    vertical-align: middle;
    background-color: #ddd;
    position: relative;
    height: 30px;
    display: inline-block;
    color: white;
    text-align: center;
}

.entity-search label.checkbox.template {
    display:none !important;
}

.read-only a[href="#insert-entity"],
.read-only a[href="#subtract-entity"] {
    display: none !important;
}

.checkbox > a[href="#insert-entity"],
.checkbox > a[href="#subtract-entity"] {
    height: 30px;
}

.checkbox > a[href="#insert-entity"]:before,
.checkbox > a[href="#subtract-entity"]:before {
    line-height: 30px;
}

.entity-search label.checkbox {
    display:block;
    margin:0;
}

.entity-search label.checkbox i {
    display:none;
}

.entity-search label.checkbox span {
    width: 100%;
    margin-right: -40px;
    padding-right: 40px;
    display: inline-block;
    padding-left: 0;
    margin-left: 0;
}

.entity-search label.checkbox.buttons-2 span {
    margin-right:-80px;
    padding-right: 90px;
}

a[href="#insert-entity"]:before {
    font-size:50px;
    line-height: 30px;
    vertical-align: middle;
    transition: background-color ease-in-out .15s;
}

a[href="#subtract-entity"]:before {
    content: " ";
    display:inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -12px;
}

a[href="#insert-entity"]:before {
    content: "+";
}

a[href="#insert-entity"] {
    background-color: #dfd;
}

.entity-search .title:hover + a[href="#insert-entity"],
a[href="#insert-entity"]:hover {
    background-color: #afa;
}

a[href="#subtract-entity"] {
    background-color: #fdd;
}

.entity-search .title:hover + a[href="#subtract-entity"],
a[href="#subtract-entity"]:hover {
    background-color: #faa;
}

.entity-search .name {
    font-weight: bold;
    margin-right: 5px;
    display:block;
}

.entity-search .description {
    display: block;
    opacity: 0.5;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entity-search .by {
    opacity: 0.8;
}

@media print
{
    .header-wrapper,
    .footer,
    .highlighted-link,
    #left-panel, #right-panel
    {
        display:none;
    }

    body
    {
        background: transparent;
    }

}

@media all and (min-width: 1500px) {
    .panel-pane {
        padding-right: 100px;
        padding-left: 100px;
    }
}

@media all and (max-width: 1300px)
{

    .dashboard-home .footer
    {
        padding-bottom:20px;
        padding-left:70px;
        padding-right:70px;
        margin:0 auto;
        width: 900px;
    }
}

@media all and (max-width: 1000px) {

    .tipsy
    {
        top:auto !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        position: fixed;
        width:auto !important;
        padding:0;
        display:none !important;
    }

    .tipsy-arrow
    {
        display:none !important;
    }

    .tipsy.focus .tipsy-inner
    {
        overflow: visible;
        white-space: normal;
    }

    .tipsy .tipsy-inner
    {
        max-width: none;
        border:0;
        box-shadow: none;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-left:20px;
    }

    .tipsy .tipsy-inner:before
    {
        content: "?";
        color:#FFF;
        position:absolute;
        display:block;
        left:7px;
    }

    .panel-pane {
        max-width: none;
    }

    .dashboard-home .footer
    {
        padding-left:70px;
        padding-right:70px;
        max-width: 100%;
    }
}

@media all and (max-width: 700px)
{
    body.left-menu .panel-pane,
    body.right-menu .panel-pane
    {
        position: fixed;
    }

    body.left-menu .footer,
    body.right-menu .footer
    {
        display:none;
    }

    .dashboard-home .player-wrapper iframe.yt-state-1,
    .dashboard-home iframe.yt-state-1
    {
        padding: 50px 0 0;
    }

    .dashboard-home a[href="#yt-pause"]
    {
        padding-right: 20px;
    }

    .panel-pane {
        padding: 50px 0 0 0;
        width: 100%;
        transition: left linear .15s;
        left:0;
    }

    body.left-menu .panel-pane
    {
        left:220px;
    }

    body.right-menu .panel-pane
    {
        left:-220px;
    }

    .dashboard-home .footer
    {
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
    }

    .pane-content
    {
        padding:10px 15px;
        border-radius: 0;
    }

}

