
[id^="groups"] .pane-content
{
    min-height: 600px;
}

.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group .cancel-edit,
.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group a[href="#save-ss_group"],
.group-edit .highlighted-link a[href="#edit-ss_group"] {
    display:inline-block;
}


.group-edit .highlighted-link.ss_group .cancel-edit,
.group-edit .highlighted-link.ss_group a[href="#save-ss_group"],
.group-edit .highlighted-link.ss_group a[href="#add-ss_group"],
.group-edit .ss_group-row.edit ~ .highlighted-link a[href="#edit-ss_group"] {
    display:none;
}

.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group a[href^="#add-"],
.group-edit .ss_group-row.read-only ~ .highlighted-link.ss_group a[href^="#save-"]
{
    visibility: hidden;
}

.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group .cancel-edit,
.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group a[href^="#save-"]
{
    visibility: visible;
    opacity: 1;
}

.group-edit .highlighted-link.ss_group
{
    margin: 50px 0;
    clear:both;
}

.group-edit .ss_group-row:before {
    content: " ";
    display: inline-block;
    padding-bottom: 10%;
    position: static;
    float: left;
}

.group-edit .ss_group-row > .parent
{
    width: 45%;
    padding-left:150px;
    margin-right:-4px;
    padding-right:4px;
}

.group-edit .results .ss_group-row.read-only:hover
{
    background-color:transparent;
    border-color:transparent;
}

.list-packs .results .pack-row > .title
{
    cursor: pointer;
}

.list-packs .results .pack-row:hover > .title {
    color:#09B;
}

.group-edit .results .ss_group-row [class*="actions"]
{
    position:absolute;
    width:40px;
    top:25%;
    padding-right:2px;
    margin-right: -2px;
    left:50%;
    margin-top:-9px;
}

[id^="groups-"] .group-list .ss_group-row .actions .remove-icon {
    display:none;
}

.group-edit .results .ss_group-row.read-only .subgroup,
.group-edit .results .ss_group-row.read-only [class*="actions"] {
    display:none;
}

.group-edit .ss_group-row
{
    position:relative;
}

.group-edit .ss_group-row > .name
{
    width:40%;
    padding-left:150px;
    margin-right:5%;
    margin-left:10%;
}

.list-packs .ss_group-row {
    display:none !important;
}

.group-edit .ss_group-row .invite,
.group-edit .ss_group-row .invites
{
    width: 40%;
    padding-left:150px;
    margin-left:10%;
    margin-right:5%;
    padding-right:2px;
}

.group-edit .pane-content {
    min-height:600px;
}

.group-list .ss_group-row .parent {
    display:none;
}

.group-edit .ss_group-row > [class^="id"] {
    text-align: center;
    position: absolute;
    vertical-align: top;
    padding-bottom: 10%;
    width:10%;
    top: -20px;
}

.group-edit .ss_group-row .pack-icon {
    position: absolute;
    padding: 0 20px 0 5px;
    height:100%;
    width:100%;
    top:0;
    left:0;

}

.group-edit .ss_group-row .pack-icon img {
    max-height:100%;
    max-width: 100%;
    width:auto;
    height:auto;
}

.group-edit .ss_group-row .pack-icon img.default {
    width:100%;
}

.group-edit header.ss_group {
    position:absolute;
    width:100%;
    z-index: 0;
    line-height:27px;
    margin-top:1px;
}

.group-edit header.ss_group label:nth-child(1) {
    padding-left:10%;
    width:50%;
    margin-right:5%;
}

.group-edit header.ss_group label:nth-child(3) {
    width:50%;
}

.group-edit header.ss_group label:nth-child(2) {
    width:45%;
}

.group-edit header.ss_group label:nth-child(3) {
    padding-left:10%;
}

.membership {
    position:relative;
}

.group-edit .ss_group-row > label.checkbox:nth-last-child(1),
.list-packs .pack-row > label.checkbox:nth-last-child(1) {
    display:none;
}

.group-edit .ss_group-row.edit ~ .highlighted-link.ss_group
{
    visibility: visible;
}

.group-edit .ss_group-row.read-only .pack-icon
{
    z-index: -1;
    pointer-events: none;
}

.group-edit .ss_group-row.read-only .pack-icon .reveal
{
    display:none;
}

.group-edit .ss_group-row.edit .highlighted-link > .remove-icon
{
    display:inline-block !important;
}

.group-edit .ss_group-row.edit .highlighted-link > a[href="#cancel-edit"],
.group-edit .ss_group-row.edit .highlighted-link > [value^="#save-"]
{
    display:none !important;
}

.list-packs .pack-row.edit .highlighted-link > .remove-icon
{
    display:inline-block !important;
}

.list-packs .pack-row .highlighted-link > a[href="#cancel-edit"],
.list-packs .pack-row .highlighted-link > [value^="#save-"]
{
    display:none !important;
}
