
.study-top {
    position:relative;
}

[id^="home"][style*="block"] ~ .footer,
[id^="home"][style*="block"] ~ .footer a {
    color:#eee;
}

[id^="home"][style*="block"] ~ .footer a:hover {
    color:#fff;
}

.study-log {
    position:absolute;
    top:0;
    left:50%;
    right:0;
    bottom:0;
}

.user-shuffle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 5px;
}

.user-shuffle h2 {
    left: -66.66%;
    position: relative;
}

.user-shuffle .results {
    background: #eee;
    vertical-align: middle;
    border: 1px solid #BBB;
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow:auto;
    margin-left:40%;
    max-height: 100%;
    margin-bottom:40px; /* even out menu spacing with footer */
    min-height: 250px;
}

.user-shuffle .ss_user-row {
    display:none;
}

.user-shuffle header {
    display: inline-block;
    width: 100%;
}

.user-shuffle header label:not(.big-add) {
    border-bottom: 2px solid #555;
    margin:0 -4px;
    padding: 0 2px;
    width:50%;
}

[id^="home"] {
    left: 0;
    height: 100%;
    position: absolute;
    background: url(../images/neural_darkened.jpg) no-repeat center center #333;
    background-size: cover;
}

[id^="home"] .pane-content {
    position: absolute;
    left: 100px;
    top: 90px;
    right: 100px;
    bottom: 50px;
    text-align: center;
}

[id^="home"] header h3:not(.big-add) {
    width:auto;
}

.user-shuffle header label:last-of-type {
    text-align: right;
}

.user-shuffle .pack-row .titleNew label:first-of-type {
    display:inline-block;
    margin:0 -2px;
    padding: 0 2px;
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.user-shuffle .pack-row .titleNew label:last-of-type {
    display:inline-block;
    margin:0 -2px;
    padding: 0 2px;
    width:20%;
    text-align: right;
}

.user-shuffle .pack-row .titleNew {
    width:100%;
}

.user-shuffle .pack-row .titleNew a {
    display: inline-block;
    width: 100%;
}

.user-shuffle .pack-row .titleNew strong {
    color:#CC2211;
}

.user-shuffle .pack-row .retention {
    width:20%;
}

.user-shuffle .pack-row .retention label {
    text-align: right;
}

.user-shuffle .results .pack-row > label.checkbox {
    display:none;
}

.study-mastery {
    position:relative;
}

.study-mastery .ss_user-row {
    display:none;
}

.study-mastery .pack-row .title {
    width:20%;
}

.study-mastery .pack-row .packMastery {
    border-left:2px solid #424242;
}

.study-mastery .pack-row .packMastery label {
    background-color:#09B;
}

.user-shuffle header a[href^="/cards"] {
    position: fixed;
    padding-bottom: 20%;
    width: 20%;
    display: block;
    background: url(../images/shuffle_btn.png) no-repeat 0 0 transparent;
    background-size: cover;
    left: 10%;
    top: 50%;
    margin-top: -10%;
}

.showing .user-shuffle header a[href^="/cards"],
.hiding .user-shuffle header a[href^="/cards"] {
    visibility: hidden;
}

.user-shuffle header a[href^="/cards"]:active {
    background-position: 0 center;
}

@media all and (min-width: 700px) {
    .user-shuffle .results {
        font-size:140%;
        line-height: 140%;
    }
}

@media all and (max-width: 700px) {

    .user-shuffle {
        top:50%;
    }

    .user-shuffle .results {
        margin-left: 0;
        margin-top: 0 !important;
    }

    .user-shuffle header a[href^="/cards"] {
        position: absolute;
        top: -100%;
        text-align: center;
        left: 50%;
        margin-left: -20%;
        width: 40%;
        padding-bottom: 40%;
        margin-top: 20px;
    }

    .study-log {
        position: static;
    }

    [id^="home"] .pane-content {
        top: 50px;
        left: 5px;
        right: 5px;
    }

    .study-mastery .pack-row .packMastery,
    .study-mastery .pack-row .title {
        width:40%;
    }
}


