
.study-top {
    position:relative;
}

.study-log {
    position:absolute;
    top:0;
    left:50%;
    right:0;
    bottom:0;
}

.user-shuffle {
    display:inline-block;
    background:#e9e9e9;
    border: 1px solid #bbb;
    width:50%;
    margin-top:50px;
    min-height:300px;
    position:relative;
    padding:20px;
}

.user-shuffle h2 {
    position:relative;
    top:-70px;
    left:-20px;
    margin-bottom:-50px;
}

.user-shuffle .results {
    padding-left:40%;
}

.user-shuffle:before {
    content: " ";
    display: inline-block;
    padding-bottom: 30%;
    position: static;
    float: left;
}

.user-shuffle .ss_user-row {
    display:none;
}

.user-shuffle .pack-row .titleNew label:first-of-type {
    display:inline-block;
    margin:0 -2px;
    padding: 0 2px;
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.user-shuffle .pack-row .titleNew label:last-of-type {
    display:inline-block;
    margin:0 -2px;
    padding: 0 2px;
    width:20%;
    text-align: right;
}

.user-shuffle .pack-row .titleNew {
    width:100%;
}

.user-shuffle .pack-row .titleNew strong {
    color:#CC2211;
}

.user-shuffle .pack-row .retention {
    width:20%;
}

.user-shuffle .pack-row .retention label {
    text-align: right;
}

.user-shuffle .results .pack-row > label.checkbox {
    display:none;
}

.study-mastery {
    position:relative;
}

.study-mastery .pack-row .title {
    width:20%;
}

.study-mastery .pack-row .packMastery {
    border-left:2px solid #424242;
}

.study-mastery .pack-row .packMastery label {
    background-color:#09B;
}

.user-shuffle header a[href^="/cards"] {
    position:absolute;
    padding-bottom:36%;
    width:30%;
    display:block;
    background: url(../images/shuffle_btn.png) no-repeat 0 0 transparent;
    background-size: cover;
    left:40px;
}

.user-shuffle header a[href^="/cards"]:active {
    background-position: 0 -554px;
}