
#right-panel,
#left-panel
{
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 30px;
    transition: width linear .15s;
    box-sizing: border-box;
    z-index: 1900;
    background: url("../images/noise_gray.png") repeat scroll 0 0 #EEEEEE;
}

#right-panel,
#left-panel,
#right-panel.expanded,
#left-panel.expanded
{
    width: 220px;
    white-space: normal;
    padding-top: 40px;
}

#right-panel.expanded h3,
#left-panel.expanded h3,
#right-panel.expanded .main-menu {
    display:block;
}

#left-panel.expanded a:not([href]) span,
#left-panel.expanded .navbar-toggle,
#left-panel a[href="#expand"],
#left-panel.expanded a[href="#expand"],
#right-panel.expanded a:not([href]) span,
#right-panel.expanded .navbar-toggle,
#right-panel a[href="#expand"],
#right-panel.expanded a[href="#expand"]
{
    display:none;
}

#left-panel.collapsed a[href="#expand"],
#right-panel.collapsed a[href="#expand"]
{
    display:block;
}

#left-panel.expanded a:not([href]),
#right-panel.expanded a:not([href])
{
    padding-left:15px;
}

#left-panel nav,
#left-panel.expanded nav,
#left-panel:not(.collapsed) nav,
#right-panel nav,
#right-panel.expanded nav,
#right-panel:not(.collapsed) nav
{
    overflow-x:hidden;
    overflow-y:auto;
    height: 100%;
    width: 100%;
}

#left-panel a[href="#collapse"],
#right-panel a[href="#collapse"]
{
    position:absolute;
    display:none;
    height:45px;
    width:70px;
    left:0;
    top:-6px;
    background:url(../images/menu_new_compressed.png) no-repeat left -102px transparent;
    font-size:14px;
    color:#555555;
    font-weight: bold;
    padding-top:12px;
    padding-left:35px;
    z-index:10;
}

#right-panel.expanded .main-menu a[href="#collapse"]:hover
{
    border:0;
    background-color:transparent;
    padding-left:0;
}

#left-panel.expanded .main-menu a[href="#collapse"]:hover
{
    border:0;
    background-color:transparent;
    padding-left: 35px;
}

.main-menu li.complete {
    text-decoration: line-through;
}

#left-panel a[href="#collapse"]
{
    right:0;
    left:auto;
}

#right-panel a[href="#collapse"]
{
    padding-right:35px;
    padding-left:0;
    text-align: right;
    background-position: right -202px;
}

#left-panel a[href="#collapse"]:hover
{
    color:#0099BB;
    background-position: left -402px;
    background-color: #DDDDDD;
}

#right-panel a[href="#collapse"]:hover
{
    color:#0099BB;
    background-position: right -502px;
    background-color: #DDDDDD;
}

#right-panel h3,
#left-panel h3
{
    border-bottom:3px solid #555555;
    margin:0;
    padding:5px 15px;
}

#right-panel h3
{
    text-align: right;
}

#right-panel
{
    right: 0;
    left:auto;
}

.header .main-menu,
#right-panel ul,
#left-panel ul
{
    list-style: none none;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.main-menu li
{
    margin: 0;
    padding: 0;
    width: 220px;
    text-align: left;
    position: relative;
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.header .main-menu li a:hover,
.header .main-menu li a:focus,
.header .main-menu li a:active,
.header .main-menu li a.active
{
    padding:5px 10px;
    background-color:#0099BB;
    border-left:0;
    color:#eee;
    font-weight: inherit;
}

.header .main-menu li {
    min-width:80px;
    padding:0;
    display:inline-block;
    text-align: center;
    width:auto;
    margin:0 -3px;
}

.header .main-menu li a:not(.more):not(.btn):not(.cloak) {
    color:#eee;
    padding:5px 10px;
    height:40px;
    line-height: 34px;
}

.header .main-menu li a:not(.more):not(.btn):not(.cloak):before {
    display:none;
}

.header .main-menu li a span {
    display:none;
}

.main-menu li.coming
{
    padding-left:45px;
}

.main-menu li.like-us a
{
    background:none;
}

.main-menu a.skrollable-after,
.main-menu a
{
    display:block;
    padding:10px 0 10px 30px;
    position:relative;
    letter-spacing: -1px;
}

.main-menu .squiggle {
    background-color: #FF9900;
}

.main-menu a
{
    color:inherit;
}

.main-menu a span
{
    line-height: 40px;
    text-align: center;
    padding: 0;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    height: 40px;
    width: 50px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
}

a[href*="/redirect/google"]
{
    width:180px;
    border-bottom-color:#DD4433;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -5502px #DD4433;
    padding-left:60px;
    position:relative;
}

a[href*="/redirect/google"]:hover,
a[href*="/redirect/google"]:active,
a[href*="/redirect/google"]:focus {
    background-color: #992211;
    border-bottom-color: #771100;
}

a[href*="/redirect/gcal"]
{
    width:180px;
    border-bottom-color:#DD4433;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -9202px #DD4433;
    padding-left:60px;
    position:relative;
}

a[href*="/redirect/gcal"]:hover,
a[href*="/redirect/gcal"]:active,
a[href*="/redirect/gcal"]:focus {
    background-color: #992211;
    border-bottom-color: #771100;
}

a[href*="evernote"]
{
    width:180px;
    border-bottom-color:#77CC44;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -7102px #77CC44;
    padding-left:60px;
    position:relative;
}

a[href*="evernote"]:hover,
a[href*="evernote"]:active,
a[href*="evernote"]:focus {
    background-color: #559922;
    border-bottom-color: #447711;
}

a[href*="/redirect/facebook"]
{
    width:180px;
    border-bottom-color:#5577AA;
    color: #ffffff;
    background:url("../images/menu_new_compressed.png") no-repeat left -5402px #5577AA;
    padding-left:60px;
    position:relative;
}

a[href*="/redirect/facebook"]:hover,
a[href*="/redirect/facebook"]:active,
a[href*="/redirect/facebook"]:focus
{
    background-color:#446699;
    border-bottom-color: #224477;
}

.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a:active,
.main-menu li a.active,
#left-panel.expanded .main-menu li a:hover,
#left-panel.expanded .main-menu li a:focus,
#left-panel.expanded .main-menu li a:active,
#left-panel.expanded .main-menu li a.active,
#right-panel.expanded .main-menu li a:hover,
#right-panel.expanded .main-menu li a:focus,
#right-panel.expanded .main-menu li a:active,
#right-panel.expanded .main-menu li a.active
{
    background-color:#DDDDDD;
    transition:background-color ease-in-out .15s, color ease-in-out .15s;
    color: #0099BB;
    font-weight: bold;
}

/*
.main-menu a.active
{
    background-color: #ffffff;
}
*/

.main-menu a:hover span,
.main-menu a:focus span,
.main-menu a:active span,
.main-menu a.active span {
    left:-5px;
}

#left-panel.expanded .main-menu a:hover span,
#left-panel.expanded .main-menu a:focus span,
#left-panel.expanded .main-menu a:active span,
#left-panel.expanded .main-menu a.active span,
#left-panel .main-menu a:hover span,
#left-panel .main-menu a:focus span,
#left-panel .main-menu a:active span,
#left-panel .main-menu a.active span {
    color:#0099BB;
    left:5px;
}

#left-panel .main-menu a:hover:not([href]),
#left-panel .main-menu a:focus:not([href]),
#left-panel .main-menu a:active:not([href]),
#left-panel .main-menu a.active:not([href]),
#left-panel .main-menu a:hover:not([href]) span,
#left-panel .main-menu a:focus:not([href]) span,
#left-panel .main-menu a:active:not([href]) span,
#left-panel .main-menu a.active:not([href]) span
{
    color:inherit;
    cursor: pointer;
}

#left-panel .main-menu a:not([href]) span,
#left-panel.expanded .main-menu a:not([href]) span
{
    display:none;
}

#left-panel .main-menu a:not([href]),
#left-panel.expanded .main-menu a:not([href])
{
    padding-left:15px;
}

#left-panel .main-menu a:hover:not([href]),
#left-panel.expanded .main-menu a:hover:not([href])
{
    padding-left:10px;
}

#right-panel a.selected + ul
{
    overflow: visible;
    max-height:500px;
}

#right-panel.collapsed,
#left-panel.collapsed
{
    width:0;
    white-space: nowrap;
    padding-top:40px;
}

#right-panel .navbar-toggle
{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    height:40px;
    line-height: 100%;
    vertical-align: top;
    background: url("../images/menu_new_compressed.png") no-repeat 50% 10px transparent;
    padding:2px 5px 12px 5px;
    margin-top:20px;
    width:auto;
    font-size: 20px;
    font-weight: bold;
}

#right-panel a[href="#expand"]
{
    color:#555555;
    text-align: right;
}

#right-panel a[href="#expand"]:hover
{
    color:#0099BB;
}

#right-panel a[href="#expand"]:hover .navbar-toggle
{
    background-position: 50% -290px;
}

#left-panel .navbar-toggle
{
    margin-top:60px;
}

.navbar-toggle
{
    display:inline-block;
    float:none;
    padding: 5px;
    width:100%;
    margin:0;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: auto;
    height: 4px;
    border-radius: 4px;
    background-color:#555555;
}

#left-panel a[href="#expand"]:hover .icon-bar
{
    background-color:#0099BB;
}

#left-panel a[href="#expand"],
#right-panel a[href="#expand"]
{
    display:none;
    position:absolute;
    z-index: 0;
    top:0;
    height:100%;
    width:100%;
    left:0;
}

#left-panel.collapsed a[href="#expand"],
#right-panel.collapsed a[href="#expand"]
{
    display:block;
}

#left-panel.collapsed a[href="#collapse"],
#right-panel.collapsed a[href="#collapse"]
{
    display:none;
}

#right-panel.collapsed h3,
#left-panel.collapsed h3,
#right-panel.collapsed .main-menu
{
    display:none;
}

#left-panel.collapsed a[href="#expand"],
#right-panel.collapsed a[href="#expand"]
{
    display:block;
}

#left-panel .main-menu a:hover:not([href]),
#left-panel .main-menu a:focus:not([href]),
#left-panel .main-menu a:active:not([href]),
#left-panel .main-menu a.active:not([href]),
#right-panel .main-menu a:hover:not([href]),
#right-panel .main-menu a:focus:not([href]),
#right-panel .main-menu a:active:not([href]),
#right-panel .main-menu a.active:not([href])
{
    padding-left:10px;
}

#left-panel.collapsed .main-menu a:hover,
#left-panel.collapsed .main-menu a:focus,
#left-panel.collapsed .main-menu a:active,
#left-panel.collapsed .main-menu a.active
{
    border:0;
}

#left-panel.collapsed .main-menu a:hover span,
#left-panel.collapsed .main-menu a:focus span,
#left-panel.collapsed .main-menu a:active span,
#left-panel.collapsed .main-menu a.active span
{
    left:10px;
}

#left-panel.collapsed nav,
#right-panel.collapsed nav
{
    overflow: hidden;
}

#left-panel.collapsed .main-menu a:not([href]) span
{
    display:block;
}

#left-panel.collapsed .main-menu a:not([href])
{
    padding-left:50px;
}

#left-panel.collapsed .main-menu a:hover,
#left-panel.collapsed .main-menu a:focus,
#left-panel.collapsed .main-menu a:active,
#left-panel.collapsed .main-menu a.active
{
    padding-left:50px;
}

#left-panel.collapsed .main-menu li.coming
{
    padding-left:50px;
}


@media all and (max-width: 1300px), (max-height: 700px)
{

    #left-panel a[href="#expand"],
    #right-panel a[href="#expand"],
    #left-panel.expanded a[href="#collapse"],
    #right-panel.expanded a[href="#collapse"]
    {
        /*display:block;*/
    }

    #left-panel a[href="#collapse"],
    #right-panel a[href="#collapse"]
    {
        display:none;
    }

    #right-panel h3, #left-panel h3,
    #right-panel .main-menu
    {
        display:none;
    }

    #left-panel .main-menu a:not([href]) span
    {
        display:block;
    }

    #left-panel .main-menu a:not([href]),
    #left-panel .main-menu a:hover:not([href])
    {
        padding-left:50px;
    }

    #left-panel.expanded .main-menu a:hover:not([href]),
    #right-panel.expanded .main-menu a:hover:not([href])
    {
        padding-left:10px;
    }

    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active,
    .main-menu a.active
    {
        border:0;
    }

    #left-panel .main-menu a:hover span,
    #left-panel .main-menu a:focus span,
    #left-panel .main-menu a:active span,
    #left-panel .main-menu a.active span
    {
        left:5px;
    }

    #left-panel nav,
    #left-panel:not(.expanded) nav,
    #right-panel nav,
    #right-panel:not(.expanded) nav
    {
        overflow: hidden;
    }
}

@media all and (min-width: 1500px) {
    #right-panel a[href="#expand"],
    #right-panel.expanded a[href="#collapse"],
    #right-panel.expanded a:not([href]) span,
    #right-panel.expanded .navbar-toggle,
    #right-panel.expanded a[href="#expand"],
    #right-panel.expanded a[href="#expand"],
    #right-panel a:not([href]) span,
    #right-panel .navbar-toggle,
    #right-panel a[href="#expand"],
    #right-panel a[href="#expand"] {
        display:none;
    }

}

@media all and (max-width:700px), all and (max-height:700px) {

    #left-panel nav,
    #left-panel.expanded nav,
    #left-panel:not(.collapsed) nav,
    #right-panel nav,
    #right-panel.expanded nav,
    #right-panel:not(.collapsed) nav {
        overflow-y: visible;
    }

    #right-panel.expanded, #left-panel.expanded
    {
        position:absolute;
        height: auto;
        min-height: 100%;
    }
}

@media all and (max-width: 700px) {

    #left-panel nav,
    #left-panel.expanded nav,
    #left-panel:not(.collapsed) nav,
    #right-panel nav,
    #right-panel.expanded nav,
    #right-panel:not(.collapsed) nav
    {
        background: #555 none;
    }


    #left-panel.expanded a[href="#collapse"],
    #right-panel.expanded a[href="#collapse"],
    #left-panel a[href="#collapse"],
    #right-panel a[href="#collapse"]
    {
        display:none;
    }

    #left-panel .navbar-toggle .icon-bar
    {
        display:none;
    }

    #left-panel .navbar-toggle {
        background: url("../images/menu_new_compressed.png") no-repeat 50% -7412px transparent;
        padding: 2px 5px 12px 5px;
        height: 40px;
    }

    body.left-menu #left-panel.expanded .navbar-toggle
    {
        left:220px;
    }
    body.right-menu #right-panel.expanded .navbar-toggle
    {
        right:220px;
    }

    body.right-menu #left-panel a[href="#expand"], body.left-menu #right-panel a[href="#expand"]
    {
        display:none;
    }

    body.left-menu #left-panel.expanded .navbar-toggle, body.right-menu #right-panel.expanded .navbar-toggle,
    body.left-menu #left-panel a[href="#expand"], body.right-menu #right-panel a[href="#expand"]
    {
        display:inline-block;
    }

    #right-panel .main-menu a[href*="/home"] span
    {
        background-position: left -5605px;
    }

    #right-panel .main-menu a[href*="/userlist"] span
    {
        background-position: left -5605px;
    }

    #right-panel .main-menu a[href*="/goals"] span
    {
        background-position: left -5705px;
    }

    #right-panel .main-menu a[href*="/schedule"] span
    {
        background-position: left -6605px;
    }

    #right-panel .main-menu a[href*="/checkin"] span
    {
        background-position: left -5905px;
    }

    #right-panel .main-menu a[href*="/metrics"] span
    {
        background-position: left -6005px;
    }

    #right-panel .main-menu a[href*="/deadlines"] span
    {
        background-position: left -8805px;
    }

    #right-panel .main-menu a[href*="/partner"] span
    {
        background-position: left -6205px;
    }

    #right-panel .main-menu a[href*="/import"] span
    {
        background-position: left -6205px;
    }

    #right-panel .main-menu a[href*="/plan"] span
    {
        background-position: left -7005px;
    }

    #right-panel .main-menu a[href*="/profile"] span
    {
        background-position: left -5205px;
    }

    #right-panel .main-menu a[href*="/premium"] span
    {
        background-position: left -6405px;
    }

    #right-panel .main-menu a[href*="/account"] span
    {
        background-position: left -6505px;
    }

    #right-panel .main-menu a[href*="#midterm"] span
    {
        background-position: left -6805px;
    }

    #right-panel .main-menu a[href*="/calculator"] span
    {
        background-position: left -6705px;
    }

    #right-panel .main-menu a[href*="#quizlet"] span
    {
        background-position: left -6905px;
    }

    #right-panel .main-menu a[href*="#drive"] span
    {
        background-position: left -7005px;
    }

    #right-panel .main-menu a[href*="/notes"] span
    {
        background-position: left -7105px;
    }

    #right-panel .main-menu a[href*="#blackboard"] span
    {
        background-position: left -7205px;
    }

    #right-panel h3, #left-panel h3
    {
        border-bottom-color:#FFFFFF;
    }

    .main-menu a:hover,
    .main-menu a:focus,
    .main-menu a:active,
    .main-menu a.active,
    #left-panel.expanded .main-menu a:hover,
    #left-panel.expanded .main-menu a:focus,
    #left-panel.expanded .main-menu a:active,
    #left-panel.expanded .main-menu a.active,
    #right-panel.expanded .main-menu a:hover,
    #right-panel.expanded .main-menu a:focus,
    #right-panel.expanded .main-menu a:active,
    #right-panel.expanded .main-menu a.active
    {
        background-color:#333333;
    }

    #left-panel,
    #right-panel,
    #left-panel.collapsed,
    #right-panel.collapsed
    {
        padding-top:0;
        width:0;
        z-index: 2100;
    }

    #left-panel,          #right-panel,
    #left-panel.expanded, #right-panel.expanded
    {
        padding-top:0;
        color:#ffffff;
    }

    #left-panel .navbar-toggle
    {
        width:40px;
        left:-5px;
        transition: left linear .15s;
        position: fixed;
    }

    #right-panel .navbar-toggle
    {
        width:40px;
        transition: right linear .15s;
        position: fixed;
        right:-5px;
    }

    #left-panel .navbar-toggle
    {
        margin-top:10px;
    }

    #right-panel a[href="#expand"],
    #right-panel.collapsed a[href="#expand"]
    {
        left: auto;
        right:17px;
    }

    #right-panel .navbar-toggle
    {
        overflow:hidden;
        color:transparent;
        top:0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        filter: none;
        transform-origin: left bottom;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        margin-top: 0;
        background-position: 50% -7500px;
    }

    #right-panel a[href="#expand"]:hover .navbar-toggle
    {
        background-position: 50% -7500px;
    }
}
