
.results .pack-row a[href="#upload-image"] {
    padding-left: 30px;
    position: relative;
    display:inline-block;
}

.results .pack-row a[href="#upload-image"]:before,
.results .card-row a[href="#upload-audio"],
.results .card-row a[href="#upload-video"],
.results .card-row a[href="#upload-image"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new2_half.png) no-repeat left -2px transparent;
    vertical-align: middle;
}

.results .pack-row a[href="#upload-image"]:before {
    content: " ";
    display:block;
    margin-top:-12px;
    position:absolute;
    left:2px;
    top:50%;
}

.results .card-row a[href="#upload-audio"].active,
.results .card-row a[href="#upload-video"].active,
.results .card-row a[href="#upload-image"].active
{
    background-color:#09B;
}

.results .card-row a[href="#upload-image"] {
    background-position: left -52px;
}

.results .card-row a[href="#upload-audio"] {
    background-position: left -102px;
}

.results .card-row.edit .highlighted-link > *
{
    display:none;
}

.results .pack-row.edit ~ .highlighted-link.pack a[href^="#add-"],
.results .pack-row.read-only ~ .highlighted-link.pack a[href^="#save-"]
{
    visibility: hidden;
}

.results .card-row.edit.selected .highlighted-link > *:not(.more),
.results .card-row.edit:hover .highlighted-link > *:not(.more)
{
    display: inline-block;
}

.results .pack-row.edit ~ .highlighted-link.pack a[href^="#cancel-"],
.results .pack-row.edit ~ .highlighted-link.pack a[href^="#save-"]
{
    visibility: visible;
    opacity: 1;
}

.results .pack-row.read-only .properties {
    display:none;
}

.highlighted-link.pack {
    margin: 50px 0;
}

.results .pack-row .id {
    text-align: center;
    position:relative;
    overflow:visible;
}

.results .pack-row .pack-icon {
    position: absolute;
}

.results .pack-row.read-only .id img[alt="Upload"], .results .pack-row.read-only .id img[alt="Upload"] ~ *, .results .pack-row.read-only .id a[href="#upload-image"] {
    display:none;
}

.results .pack-row .status {
    position:relative;
}

.results .pack-row .status .unpublished select {
    background-color: #FF9900;
}
.results .pack-row .status .public select {
    background-color: #11CC33;
}
.results .pack-row .status .group select {
    background-color: #1199CC;
}
.results .pack-row .status .group.pending select {
    background-color: #EECC11;
}
.results .pack-row .status .unlisted select {
    background-color: #AAAAAA;
}
.results .pack-row .status .deleted select {
    background-color: #FF4433;
}

.results .pack-row.edit > *:nth-child(2) {
    width: 50%;
}

.results .pack-row.edit > .status {
    width: 40%;
}

.results .pack-row.edit > .groups {
    padding-left:10%;
    width:60%;
}

.results .pack-row.edit > .properties,
.results .pack-row.edit > .users {
    width: 25%;
}

.results .pack-row.edit > .properties
{
    width: 35%;
}

.results .pack-row.edit > *:nth-last-child(2)
{
    width:5%;
}

.results .pack-row.edit .groups .checkbox:nth-of-type(even) {
    width: 100px;
    display:inline-block;
    margin: 0 -2px;
    padding: 0 2px;
    float:right;
}

.results .pack-row.edit .groups .checkbox
{
    width: 100%;
    display:inline-block;
    padding: 0 104px 0 2px;
    margin: 0 -104px 0 -2px;
}

.results .pack-row.read-only .status {
    text-align: center;
}

.results .pack-row.read-only .status select {
    width: auto;
}

.results .card-row > * {
    width: 20%;
}

.results .card-row .id {
    width: 25%;
}

.results .card-row > *:nth-last-child(2)
{
    width:5%;
}

.results .card-row > *:nth-child(2) {
    width: 30%;
}

.results .card-row .correct.type-tf {
    text-align: right;
}

.results .card-row .correct.type-tf + .correct.type-tf {
    text-align: left;
}

.results .card-row[class*="type"] .correct .correct:not([class*="type-"]),
.results .correct .correct[class*="type-"],
.results .card-row[class*="type"] .answers .answers:not([class*="type-"]),
.results .answers .answers[class*="type-"],
.results .card-row > .answers,
.results .card-row[class*="type"].type-tf > .answers
{
    display:none;
}

.results .card-row > .correct,
.results .card-row[class*="type"].type-tf .correct
{
    width:40%;
}

.results .card-row .input.type {
    margin-right:-100px;
    display:inline-block;
    padding-left:40px;
    padding-right:100px;
    width:100%;
    position:relative;
    vertical-align: middle;
}

.results .card-row .input.type span {
    width:40px;
    display:block;
    margin-right:-4px;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-9px;
}

.results .card-row.type-tf .correct.type-tf
{
    display:inline-block;
    width:50%;
    margin:0 -2px;
    padding: 0 2px;
}

.results .card-row[class*="type"] > .answers
{
    display:inline-block;
}

.results .card-row.type-mc .answers.type-mc,
.results .card-row.type-sa .answers.type-sa,
.results .card-row.type-mc .correct.type-mc,
.results .card-row.type-sa .correct.type-sa
{
    display:block;
}

.results .card-row + .expandable h3 {
    display:inline-block;
    vertical-align: middle;
}

.results .card-row + .expandable {
    white-space: nowrap;
}

.results .card-row + .expandable .preview {
    height:400px;
    overflow: auto;
    text-align: center;
}

.results .card-row + .expandable .preview-card {
    width: 300px;
    height: 100%;
    background: #eee;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    border: 2px solid #BBB;
    padding: 10px;
    white-space: normal;
    margin:0 5px;
}

.results .card-row + .expandable .preview-title {
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    background: #555;
    color: #EEE;
    font-size: 105%;
    padding:5px;
    text-align: right;
}

.results .card-row + .expandable .preview-count {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    color: #BBB;
    font-size: 105%;
    padding:5px;
    text-align: center;
}

.results .card-row + .expandable .preview-prompt {
    background: #FFF;
    height: 40%;
    padding: 10px;
    position:absolute;
    width:100%;
    left:0;
    top:0;
}

.results .card-row + .expandable .type-mc .preview-response {
    height: 11%;
    margin: 1% -10px;
    background: #09B;
    color: #fff;
}

.results .card-row + .expandable .preview-inner {
    height:100%;
}

.results .preview-card:not(.preview-answer) .preview-inner,
.results .card-row + .expandable .preview-answer:not([class*="type-"]) .preview-inner
{
    padding-bottom: 2.6em;
    margin-bottom: -2.6em;
}

.results .card-row + .expandable .type-mc .preview-inner {
    margin-bottom: 0;
    padding-bottom: 0;
}

.results .card-row + .expandable .type-sa:not(.preview-answer) .preview-inner {
    margin-bottom: -2.4em;
    padding-bottom: 2.4em;
}

.results .card-row + .expandable .preview-answer .preview-inner {
    padding-top:55%;
    position:relative;
}

.results .card-row + .expandable .preview-answer .preview-correct {
    color:#BBB;
    position:absolute;
    left:0;
    width:100%;
    top:40%;
}

.results .card-row + .expandable .preview-tap
{
    color: #bbb;
}

.results .card-row + .expandable .preview-right,
.results .card-row + .expandable .preview-wrong {
    padding: 10px 10px;
    width: 75px;
    color: #fff;
    font-size:30px;
    display:inline-block;
    vertical-align: middle;
    background:#C00;
}

.results .card-row + .expandable .preview-true,
.results .card-row + .expandable .preview-false {
    padding: 10px 10px;
    width: 75px;
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    background:#C00;
}

.results .card-row + .expandable .preview-true,
.results .card-row + .expandable .preview-right
{
    background:#0C0;
}

.results .card-row + .expandable .preview-guess {
    display:inline-block;
    width:100%;
    margin: 0 -80px;
    padding: 0 80px;
    vertical-align: middle;
    color:#BBB;
}

.results .card-row + .expandable .preview-prompt img,
.results .card-row + .expandable .preview-inner img {
    height:auto;
    width:auto;
    max-height: 100%;
    max-width: 100%;
}

.results .card-row + .expandable .preview-content {
    height: 100%;
}

.results .card-row + .expandable .preview-answer .preview-inner .preview-content,
.results .card-row + .expandable .preview-card:not(.preview-answer) .preview-content {
    font-size: 30px;
    line-height: 120%;
}

.results .card-row + .expandable .type-mc:not(.preview-answer) .preview-inner {
    margin-bottom:-64%;
    padding-bottom:64%;
}

.results .card-row + .expandable .type-sa label input {
    font-size: 110%;
    height:auto;
    border:1px solid #555;
    border-radius:0;
}

.results .card-row .correct {
    position:relative;
}

.results .card-row .correct.editing .radios {
    height:auto;
    pointer-events: inherit;
}

.results .card-row .radios input:checked ~ i,
.results .card-row .correct.editing .radios i {
    z-index: 10;
    position:relative;
}

.results .card-row .correct.editing .radios span {
    z-index: -1;
    position:relative;
}

.results .card-row .radios {
    white-space: normal;
    vertical-align: middle;
    line-height: 135%;
    position:absolute;
    height: 1.7em;
    overflow:hidden;
    padding: 3px;
    pointer-events: none;
    width: 100%;
}

.results .card-row .radios label {
    display:block;
    font-size:inherit;
    line-height: inherit;
    padding-left:27px;
    white-space: pre-wrap;
    color:transparent;
}

.results .card-row .radios label i {
    margin-left:-21px;
}

.results .card-row .correct.type-mc textarea {
    padding-left: 30px;
    vertical-align: middle;
    position:relative;
}

#pack-publish .ui-datepicker {
    position:static;
    width:50%;
    margin: auto;
}

a[href="#users-groups"] {
    line-height: 20px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    margin-top: -10px;
    font-size: 50px;
    vertical-align: middle;
}

a[href="#pack-publish"] {
    position:absolute;
    right:0;
    top:65%;
    margin-top:-12px;
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1302px transparent;
}

.pack-row.edit .status label,
.pack-row.edit .groups label {
    padding-right: 30px;
}

.pack-row.edit .status,
.pack-row.edit .groups {
    position:relative;
}

.results .pack-row.edit .highlighted-link > a[href="#remove-pack"]
{
    display:inline-block !important;
}

.results .pack-row.edit .highlighted-link > a[href="#cancel-edit"],
.results .pack-row.edit .highlighted-link > [value^="#save-"]
{
    display:none !important;
}
