
#command .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
}

#command .count-bubble
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
    margin: 20px;
    position: relative;
    padding: 30px 0 10px 0;
    display: inline-block;
}

#command .count-bubble i
{
    font-size: 48px;
    line-height: 110%;
    width:100%;
    display:inline-block;
    text-align: center;
}

#command .count-bubble small
{
    position:absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left:0;
    padding-top:10px;

}

#command a[href*="_switch_user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4002px transparent;
}

#command a[href*="_switch_user"]:hover
{
    background-position: left -4052px;
}

#command a[href="#confirm-password-reset"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -3902px transparent;
}

#command a[href="#confirm-password-reset"]:hover
{
    background-position: left -3952px;
}

#command a[href="#edit-group"],
#command a[href="#edit-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#command a[href="#edit-group"]:hover,
#command a[href="#edit-user"]:hover
{
    background-position: left -1602px;
}

#command a[href="#confirm-remove-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#command a[href="#confirm-remove-user"]:hover
{
    background-position: left -1702px;
}

#command a[href="#confirm-cancel-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1102px transparent;
}

#command a[href="#confirm-cancel-user"]:hover
{
    background-position: left -1152px;
}

#command .edit a[href="#confirm-remove-user"],
#command .edit a[href="#confirm-cancel-user"],
#command .edit a[href="#edit-user"],
#command .edit a[href="#confirm-password-reset"],
#command .edit a[href*="_switch_user"],
#command .edit a[href*="/emails"],
#command .read-only a[href="#cancel-edit"],
#command .read-only [value="#save-user"],
#command .edit a[href="#edit-group"],
#command .read-only a[href="#cancel-edit"],
#command .read-only a[href="#save-group"]
{
    display:none;
}

#command #groups .results th:nth-child(5),
#command #groups .results td:nth-child(5)
{
    width: 100px;
    text-align: right;
}

#command #groups .results th:nth-child(4),
#command #groups .results td:nth-child(4)
{
    width: 50px;
    text-align: center;
}

#command #pane-top .first-name,
#command #pane-top .last-name
{
    margin: 0 -2px;
    padding: 0 2px;
    width: 50%;
    display:inline-block;
}

#command #pane-top .first-name label,
#command #pane-top .last-name label
{
    margin-bottom:0;
}

#command .read-only a[href*="/emails"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4102px transparent;
}

#command .read-only a[href*="mailto:"]:hover
{
    background-position: left -4152px;
}

#command .ui-datepicker > a
{
    display:block;
    text-align: left;
    padding-left:10px;
}

#command .ui-datepicker > a:hover
{
    background-color: #09B;
    color: #fff;
    font-weight: bold;
}

#command .results > thead > tr > th.filtered > label > input,
#command .results > thead > tr > th.filtered > label > select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#command .results > tbody > tr > td:nth-child(4) label:nth-child(2),
#command .results > tbody > tr > td:nth-child(4) label:nth-child(1)
{
    width:50%;
    margin: 0 -2px;
    padding-left: 2px;
    display:inline-block;
}


#command .results > thead > tr > th:nth-child(1),
#command .results > thead > tr > th:nth-child(6)
{
    overflow:visible;
}

#command .results > thead > tr > th:nth-child(1) .input + div,
#command .results > thead > tr > th:nth-child(6) .input + div
{
    position: absolute;
    z-index: 100;
}

#command .results .edit td:nth-child(4) label:nth-child(1),
#command .results .edit td:nth-child(4) label:nth-child(2)
{
    margin-bottom:5px;
}

#command .results > tbody > tr > td:nth-child(4) label:last-child
{
    margin: 0;
}

#command .results > tbody > tr > td:nth-child(4) label:last-child input
{
    font-size:12px;
    height:auto;
}

#command .read-only textarea
{
    height: 1em;
}

#command .results > thead > tr > th:last-child,
#command .results > tbody > tr > td:last-child
{
    text-align: right;
    width: 210px;
}

#command .results > thead > tr > th:last-child > label
{
    margin-right:-30px;
    padding-right:30px;
    display:inline-block;
    width:100%;
}

@media all and (max-width:1000px)
{
    
}

@media all and (max-width:700px)
{

}


@media all and (max-width:500px)
{

}
