#command_control .pane-content
{
    min-height: 800px;
    min-width: 1200px;
}

#command_control .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
}

#command_control .paginate {
    display: inline-block;
    width: 300px;
    margin: 0 -4px;
    padding: 0 2px;
    vertical-align: middle;
    text-align: center;
}

#command_control .paginate label {
    margin: 0 -50px;
    padding: 0 50px;
    display: inline-block;
}

#command_control .paginate input {
    margin-right: -50px;
    padding-right: 50px;
    display:inline-block;
}

#command_control .count-bubble
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
    margin: 20px;
    position: relative;
    padding: 30px 0 10px 0;
    display: inline-block;
}

#command_control .count-bubble i
{
    font-size: 48px;
    line-height: 110%;
    width:100%;
    display:inline-block;
    text-align: center;
}

#command_control .count-bubble small
{
    position:absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left:0;
    padding-top:10px;

}

#command_control a[href*="_switch_user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4002px transparent;
}

#command_control a[href*="_switch_user"]:hover
{
    background-position: left -4052px;
}

#command_control a[href="#confirm-password-reset"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -3902px transparent;
}

#command_control a[href="#confirm-password-reset"]:hover
{
    background-position: left -3952px;
}

#group-manager a[href="#edit-group"],
#command_control a[href="#edit-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#group-manager a[href="#edit-group"]:hover,
#command_control a[href="#edit-user"]:hover
{
    background-position: left -1602px;
}

#command_control a[href="#confirm-remove-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#command_control a[href="#confirm-remove-user"]:hover
{
    background-position: left -1702px;
}

#command_control a[href="#confirm-cancel-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1102px transparent;
}

#command_control a[href="#confirm-cancel-user"]:hover
{
    background-position: left -1152px;
}

#command_control .edit a[href="#confirm-remove-user"],
#command_control .edit a[href="#confirm-cancel-user"],
#command_control .edit a[href="#edit-user"],
#command_control .edit a[href="#confirm-password-reset"],
#command_control .edit a[href*="_switch_user"],
#command_control .edit a[href*="/emails"],
#command_control .read-only a[href="#cancel-edit"],
#command_control .read-only [value="#save-user"],
#group-manager .edit a[href="#edit-group"],
#group-manager .read-only a[href="#cancel-edit"],
#group-manager .read-only a[href="#save-group"]
{
    display:none;
}

#group-manager th:nth-child(5),
#group-manager td:nth-child(5)
{
    width: 100px;
    text-align: right;
}

#group-manager th:nth-child(4),
#group-manager td:nth-child(4)
{
    width: 50px;
    text-align: center;
}

#add-user .first-name,
#add-user .last-name
{
    margin: 0 -2px;
    padding-right: 2px;
    width: 50%;
    display:inline-block;
}

#add-user .last-name
{
    padding-right:0;
    padding-left:2px;
}

#group-manager .edit a[href="#cancel-edit"],
#group-manager .edit a[href="#save-group"],
#command_control .edit a[href="#cancel-edit"],
#command_control .edit [value="#save-user"]
{
    display:inline;
}

#command_control .read-only a[href*="/emails"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4102px transparent;
}

#command_control .read-only a[href*="mailto:"]:hover
{
    background-position: left -4152px;
}

#command_control.all table.results {
    width:3000px;
}

#command_control table.results > thead > tr > th:nth-child(30),
#command_control table.results > tbody > tr > td:nth-child(30),
#command_control table.results > thead > tr > th:nth-child(29),
#command_control table.results > tbody > tr > td:nth-child(29),
#command_control table.results > thead > tr > th:nth-child(28),
#command_control table.results > tbody > tr > td:nth-child(28),
#command_control table.results > thead > tr > th:nth-child(27),
#command_control table.results > tbody > tr > td:nth-child(27),
#command_control table.results > thead > tr > th:nth-child(26),
#command_control table.results > tbody > tr > td:nth-child(26),
#command_control table.results > thead > tr > th:nth-child(25),
#command_control table.results > tbody > tr > td:nth-child(25),
#command_control table.results > thead > tr > th:nth-child(24),
#command_control table.results > tbody > tr > td:nth-child(24),
#command_control table.results > thead > tr > th:nth-child(23),
#command_control table.results > tbody > tr > td:nth-child(23),
#command_control table.results > thead > tr > th:nth-child(22),
#command_control table.results > tbody > tr > td:nth-child(22),
#command_control table.results > thead > tr > th:nth-child(21),
#command_control table.results > tbody > tr > td:nth-child(21),
#command_control table.results > thead > tr > th:nth-child(20),
#command_control table.results > tbody > tr > td:nth-child(20),
#command_control table.results > thead > tr > th:nth-child(19),
#command_control table.results > tbody > tr > td:nth-child(19),
#command_control table.results > thead > tr > th:nth-child(18),
#command_control table.results > tbody > tr > td:nth-child(18),
#command_control table.results > thead > tr > th:nth-child(17),
#command_control table.results > tbody > tr > td:nth-child(17),
#command_control table.results > thead > tr > th:nth-child(16),
#command_control table.results > tbody > tr > td:nth-child(16),
#command_control table.results > thead > tr > th:nth-child(15),
#command_control table.results > tbody > tr > td:nth-child(15),
#command_control table.results > thead > tr > th:nth-child(14),
#command_control table.results > tbody > tr > td:nth-child(14)
{
    display:none;
}

#command_control.all table.results > thead > tr > th:nth-child(30),
#command_control.all table.results > tbody > tr > td:nth-child(30),
#command_control.all table.results > thead > tr > th:nth-child(29),
#command_control.all table.results > tbody > tr > td:nth-child(29),
#command_control.all table.results > thead > tr > th:nth-child(28),
#command_control.all table.results > tbody > tr > td:nth-child(28),
#command_control.all table.results > thead > tr > th:nth-child(27),
#command_control.all table.results > tbody > tr > td:nth-child(27),
#command_control.all table.results > thead > tr > th:nth-child(26),
#command_control.all table.results > tbody > tr > td:nth-child(26),
#command_control.all table.results > thead > tr > th:nth-child(25),
#command_control.all table.results > tbody > tr > td:nth-child(25),
#command_control.all table.results > thead > tr > th:nth-child(24),
#command_control.all table.results > tbody > tr > td:nth-child(24),
#command_control.all table.results > thead > tr > th:nth-child(23),
#command_control.all table.results > tbody > tr > td:nth-child(23),
#command_control.all table.results > thead > tr > th:nth-child(22),
#command_control.all table.results > tbody > tr > td:nth-child(22),
#command_control.all table.results > thead > tr > th:nth-child(21),
#command_control.all table.results > tbody > tr > td:nth-child(21),
#command_control.all table.results > thead > tr > th:nth-child(20),
#command_control.all table.results > tbody > tr > td:nth-child(20),
#command_control.all table.results > thead > tr > th:nth-child(19),
#command_control.all table.results > tbody > tr > td:nth-child(19),
#command_control.all table.results > thead > tr > th:nth-child(18),
#command_control.all table.results > tbody > tr > td:nth-child(18),
#command_control.all table.results > thead > tr > th:nth-child(17),
#command_control.all table.results > tbody > tr > td:nth-child(17),
#command_control.all table.results > thead > tr > th:nth-child(16),
#command_control.all table.results > tbody > tr > td:nth-child(16),
#command_control.all table.results > thead > tr > th:nth-child(15),
#command_control.all table.results > tbody > tr > td:nth-child(15),
#command_control.all table.results > thead > tr > th:nth-child(14),
#command_control.all table.results > tbody > tr > td:nth-child(14),
#command_control.all table.results > thead > tr > th:nth-child(13),
#command_control.all table.results > tbody > tr > td:nth-child(13),
#command_control.all table.results > thead > tr > th:nth-child(12),
#command_control.all table.results > tbody > tr > td:nth-child(12),
#command_control.all table.results > thead > tr > th:nth-child(11),
#command_control.all table.results > tbody > tr > td:nth-child(11),
#command_control.all table.results > thead > tr > th:nth-child(10),
#command_control.all table.results > tbody > tr > td:nth-child(10),
#command_control.all table.results > thead > tr > th:nth-child(9),
#command_control.all table.results > tbody > tr > td:nth-child(9),
#command_control.all table.results > thead > tr > th:nth-child(8),
#command_control.all table.results > tbody > tr > td:nth-child(8),
#command_control.all table.results > thead > tr > th:nth-child(7),
#command_control.all table.results > tbody > tr > td:nth-child(7),
#command_control.all table.results > thead > tr > th:nth-child(6),
#command_control.all table.results > tbody > tr > td:nth-child(6),
#command_control.all table.results > thead > tr > th:nth-child(5),
#command_control.all table.results > tbody > tr > td:nth-child(5),
#command_control.all table.results > thead > tr > th:nth-child(3),
#command_control.all table.results > tbody > tr > td:nth-child(3),
#command_control.all table.results > thead > tr > th:nth-child(2),
#command_control.all table.results > tbody > tr > td:nth-child(2),
#command_control.all table.results > thead > tr > th:nth-child(1),
#command_control.all table.results > tbody > tr > td:nth-child(1)
{
    width:3.2%;
    text-align: center;
    display:table-cell;
}

#command_control.courses table.results > thead > tr > th:nth-child(13),
#command_control.courses table.results > tbody > tr > td:nth-child(13),
#command_control.courses table.results > thead > tr > th:nth-child(12),
#command_control.courses table.results > tbody > tr > td:nth-child(12),
#command_control.courses table.results > thead > tr > th:nth-child(11),
#command_control.courses table.results > tbody > tr > td:nth-child(11),
#command_control.courses table.results > thead > tr > th:nth-child(10),
#command_control.courses table.results > tbody > tr > td:nth-child(10),
#command_control.courses table.results > thead > tr > th:nth-child(9),
#command_control.courses table.results > tbody > tr > td:nth-child(9),
#command_control.courses table.results > thead > tr > th:nth-child(8),
#command_control.courses table.results > tbody > tr > td:nth-child(8),
#command_control.courses table.results > thead > tr > th:nth-child(7),
#command_control.courses table.results > tbody > tr > td:nth-child(7),
#command_control.courses table.results > thead > tr > th:nth-child(6),
#command_control.courses table.results > tbody > tr > td:nth-child(6)
{
    display:none;
}

#command_control.courses table.results > thead > tr > th:nth-child(30),
#command_control.courses table.results > tbody > tr > td:nth-child(30),
#command_control.courses table.results > thead > tr > th:nth-child(29),
#command_control.courses table.results > tbody > tr > td:nth-child(29),
#command_control.courses table.results > thead > tr > th:nth-child(28),
#command_control.courses table.results > tbody > tr > td:nth-child(28),
#command_control.courses table.results > thead > tr > th:nth-child(27),
#command_control.courses table.results > tbody > tr > td:nth-child(27),
#command_control.courses table.results > thead > tr > th:nth-child(26),
#command_control.courses table.results > tbody > tr > td:nth-child(26),
#command_control.courses table.results > thead > tr > th:nth-child(25),
#command_control.courses table.results > tbody > tr > td:nth-child(25),
#command_control.courses table.results > thead > tr > th:nth-child(24),
#command_control.courses table.results > tbody > tr > td:nth-child(24),
#command_control.courses table.results > thead > tr > th:nth-child(23),
#command_control.courses table.results > tbody > tr > td:nth-child(23),
#command_control.courses table.results > thead > tr > th:nth-child(22),
#command_control.courses table.results > tbody > tr > td:nth-child(22),
#command_control.courses table.results > thead > tr > th:nth-child(21),
#command_control.courses table.results > tbody > tr > td:nth-child(21),
#command_control.courses table.results > thead > tr > th:nth-child(20),
#command_control.courses table.results > tbody > tr > td:nth-child(20),
#command_control.courses table.results > thead > tr > th:nth-child(19),
#command_control.courses table.results > tbody > tr > td:nth-child(19),
#command_control.courses table.results > thead > tr > th:nth-child(18),
#command_control.courses table.results > tbody > tr > td:nth-child(18),
#command_control.courses table.results > thead > tr > th:nth-child(17),
#command_control.courses table.results > tbody > tr > td:nth-child(17),
#command_control.courses table.results > thead > tr > th:nth-child(16),
#command_control.courses table.results > tbody > tr > td:nth-child(16),
#command_control.courses table.results > thead > tr > th:nth-child(15),
#command_control.courses table.results > tbody > tr > td:nth-child(15),
#command_control.courses table.results > thead > tr > th:nth-child(14),
#command_control.courses table.results > tbody > tr > td:nth-child(14)
{
    width:2.8%;
    text-align: center;
    display:table-cell;
}

#command_control table.results > thead > tr > th:nth-child(4),
#command_control table.results > tbody > tr > td:nth-child(4)
{
    width:10.4%;
}

#group-manager td,
#command_control table.results > tbody > tr > td
{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: fixed;
}

#command_control table.results > tbody > tr > td.empty
{
    white-space: normal;
}

#group-manager td > *,
#command_control table.results > tbody > tr > td > *
{
    vertical-align: middle;
    line-height: 100%;
}

#group-manager td .checkbox,
#command_control table.results > tbody > tr > td .checkbox {
    margin:0;
}

#group-manager table,
#command_control table.results
{
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}

#command_control .ui-datepicker > a
{
    display:block;
    text-align: left;
    padding-left:10px;
}

#command_control .ui-datepicker > a:hover
{
    background-color: #09B;
    color: #fff;
    font-weight: bold;
}

#group-manager tbody > tr > td,
#command_control table.results > tbody > tr > td
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

#group-manager tbody > tr:hover:not(.selected):not(.edit) > td,
#command_control table.results > tbody > tr:hover:not(.selected):not(.edit) > td
{
    box-shadow: 0 1px 4px rgba(255,255,255,.25);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.50);
}

#command_control table.results > thead > tr > th
{
    background:transparent;
    position: relative;
    overflow: hidden;
    padding:5px;
    white-space: nowrap;
    vertical-align: bottom;
}

#command_control table.results > thead > tr > th.filtered > label > input,
#command_control table.results > thead > tr > th.filtered > label > select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#command_control table.results > thead > tr > th:nth-child(13),
#command_control table.results > tbody > tr > td:nth-child(13),
#command_control table.results > thead > tr > th:nth-child(12),
#command_control table.results > tbody > tr > td:nth-child(12),
#command_control table.results > thead > tr > th:nth-child(11),
#command_control table.results > tbody > tr > td:nth-child(11),
#command_control table.results > thead > tr > th:nth-child(10),
#command_control table.results > tbody > tr > td:nth-child(10),
#command_control table.results > thead > tr > th:nth-child(9),
#command_control table.results > tbody > tr > td:nth-child(9),
#command_control table.results > thead > tr > th:nth-child(8),
#command_control table.results > tbody > tr > td:nth-child(8),
#command_control table.results > thead > tr > th:nth-child(7),
#command_control table.results > tbody > tr > td:nth-child(7),
#command_control table.results > thead > tr > th:nth-child(6),
#command_control table.results > tbody > tr > td:nth-child(6),
#command_control table.results > thead > tr > th:nth-child(5),
#command_control table.results > tbody > tr > td:nth-child(5),
#command_control table.results > thead > tr > th:nth-child(3),
#command_control table.results > tbody > tr > td:nth-child(3),
#command_control table.results > thead > tr > th:nth-child(2),
#command_control table.results > tbody > tr > td:nth-child(2),
#command_control table.results > thead > tr > th:nth-child(1),
#command_control table.results > tbody > tr > td:nth-child(1)
{
    text-align: center;
    width: 7%;
}

#command_control table.results > thead > tr > th:nth-child(4),
#command_control table.results > tbody > tr > td:nth-child(4)
{
    width: 9%;
}

#command_control table.results > tbody > tr > td:nth-child(4) label:nth-child(2),
#command_control table.results > tbody > tr > td:nth-child(4) label:nth-child(1)
{
    width:50%;
    margin: 0 -2px;
    padding-left: 2px;
    display:inline-block;
}


#command_control table.results > thead > tr > th:nth-child(1),
#command_control table.results > thead > tr > th:nth-child(6)
{
    overflow:visible;
}

#command_control table.results > thead > tr > th:nth-child(1) .input + div,
#command_control table.results > thead > tr > th:nth-child(6) .input + div
{
    position: absolute;
    z-index: 100;
}

#command_control table.results .edit td:nth-child(4) label:nth-child(1),
#command_control table.results .edit td:nth-child(4) label:nth-child(2)
{
    margin-bottom:5px;
}

#command_control table.results > tbody > tr > td:nth-child(4) label:last-child
{
    margin: 0;
}

#command_control table.results > tbody > tr > td:nth-child(4) label:last-child input
{
    font-size:12px;
    height:auto;
}

#group-manager td:nth-child(3) label,
#command_control table.results > tbody > tr > td:nth-child(3) label,
#command_control table.results > tbody > tr > td:nth-child(2) label
{
    display:block;
    min-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
}

#group-manager .read-only td:nth-child(3) input,
#group-manager .read-only td:nth-child(3) input ~ *,
#command_control table.results .read-only td:nth-child(3) input,
#command_control table.results .read-only td:nth-child(3) input ~ *,
#command_control table.results .read-only td:nth-child(2) input,
#command_control table.results .read-only td:nth-child(2) input ~ *,
#command_control table.results .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked,
#command_control table.results .read-only td:nth-child(2) input[value="ROLE_PAID"]:checked ~ *,
#command_control table.results .read-only td:nth-child(2) input[value="ROLE_PAID"],
#command_control table.results .read-only td:nth-child(2) input[value="ROLE_PAID"] ~ * {
    display:none;
}

#group-manager .read-only td:nth-child(3) input:checked ~ span,
#command_control table.results .read-only td:nth-child(3) input:checked ~ span,
#command_control table.results .read-only td:nth-child(2) input:checked ~ span
{
    display:inline;
}

#group-manager .read-only textarea
{
    height: 1em;
}

#command_control table.results > thead > tr > th:nth-child(31),
#command_control table.results > tbody > tr > td:nth-child(31)
{
    text-align: right;
    width: 210px;
}

#command_control table.results > thead > tr > th:nth-child(31) > label
{
    margin-right:-30px;
    padding-right:30px;
    display:inline-block;
    width:100%;
}

@media all and (max-width:1000px)
{
    
}

@media all and (max-width:700px)
{

}


@media all and (max-width:500px)
{

}
