
#command .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
}

#command .search .input {
    margin-left: -220px;
    padding-left: 240px;
    width: 100%;
    display:inline-block;
}

#command .count-bubble
{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #555;
    color: #fff;
    margin: 20px;
    position: relative;
    padding: 30px 0 10px 0;
    display: inline-block;
}

#command .count-bubble i
{
    font-size: 48px;
    line-height: 110%;
    width:100%;
    display:inline-block;
    text-align: center;
}

#command .count-bubble small
{
    position:absolute;
    top: 0;
    text-align: center;
    width: 100%;
    left:0;
    padding-top:10px;

}

#command a[href*="_switch_user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4002px transparent;
}

#command a[href*="_switch_user"]:hover
{
    background-position: left -4052px;
}

#command a[href="#confirm-password-reset"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -3902px transparent;
}

#command a[href="#confirm-password-reset"]:hover
{
    background-position: left -3952px;
}

#command a[href="#edit-group"],
#command a[href="#edit-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#command a[href="#edit-group"]:hover,
#command a[href="#edit-user"]:hover
{
    background-position: left -1602px;
}

#command a[href="#remove-group"],
#command a[href="#confirm-remove-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#command a[href="#confirm-remove-user"]:hover
{
    background-position: left -1702px;
}

#command a[href="#confirm-cancel-user"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1102px transparent;
}

#command a[href="#confirm-remove-pack"],
#command a[href="#remove-card"] {
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1652px transparent;
}

#command a[href*="#edit-pack"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -1552px transparent;
}

#command a[href="#confirm-cancel-user"]:hover
{
    background-position: left -1152px;
}

#command .edit a[href="#confirm-remove-user"],
#command .edit a[href="#confirm-cancel-user"],
#command .edit a[href="#edit-user"],
#command .edit a[href="#confirm-password-reset"],
#command .edit a[href*="_switch_user"],
#command .edit a[href*="/emails"],
#command .read-only a[href="#cancel-edit"],
#command .read-only [value="#save-user"],
#command .edit a[href="#edit-group"],
#command .read-only a[href="#cancel-edit"],
#command .read-only a[href="#save-group"]
{
    display:none;
}

#command .read-only a[href*="/emails"]
{
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat left -4102px transparent;
}

#command .read-only a[href*="mailto:"]:hover
{
    background-position: left -4152px;
}

#command .pane-top {
    position: fixed;
    width:100%;
    padding-right:70px;
    top:50px;
    z-index: 10;
    height:100px;
}

#command .results .paginate {
    width:300px;
}

#command h2 {
    margin-top:60px;
}

#command .ui-datepicker > a
{
    display:block;
    text-align: left;
    padding-left:10px;
}

#command .ui-datepicker > a:hover
{
    background-color: #09B;
    color: #fff;
    font-weight: bold;
}

#command header label.filtered > input,
#command header label.filtered > select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#command .results header > * {
    display:none;
}

#command .results header > *:first-child,
#command .results header > *:nth-child(2),
#command .results header > *:nth-child(3) {
    display:inline-block;
}

#command .results header > *,
#command .results [class*="-row"] > *
{
    width: 16.66%;
}
#command .results header > *:nth-child(1) {
    width:100%;
}

#command .results header > *.id,
#command .results [class*="-row"] > *:nth-child(1)
{
    width: 10%;
}

#command .results header > *.actions,
#command .results [class*="-row"] > *:nth-last-child(2)
{
    width:15%;
    text-align: right;
    padding-right: 32px;
    margin-right: -32px
}

#command .results header > *:last-child,
#command .results [class*="-row"] > *:nth-last-child(1)
{
    width: auto;
    display:inline-block;
}

#command .results header > *.name,
#command .results [class*="-row"] > *:nth-child(2)
{
    width: 25%;
}

#command .ss_group-row .group-name .input:nth-child(1),
#command .ss_group-row .group-name .input:nth-child(2),
#command .ss_user-row .user-name .input:nth-child(1),
#command .ss_user-row .user-name .input:nth-child(2)
{
    margin: 0 -2px;
    padding: 0 2px;
    width: 50%;
    display:inline-block;
}

#command a[href="#new-group"],
#command a[href="#new-user"] {
    visibility: hidden;
}

#command .adding a[href="#add-group"],
#command .adding a[href="#add-user"],
#command .pane-top .results {
    display:none;
}

#command .adding a[href="#new-group"],
#command .adding a[href="#new-user"] {
    visibility: visible;
}

#command .pane-top.adding .results {
    display:block;
}

#command .read-only textarea
{
    height: 1em;
}

@media all and (max-width:1000px)
{
    
}

@media all and (max-width:700px)
{

}


@media all and (max-width:500px)
{

}
