
#import .import-row {
    clear: both;
    display: block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

.import-row > *
{
    width:20%;
    display:inline-block;
    vertical-align: bottom;
}

.import-row label > span
{
    display:none;
}

.import-row:first-of-type label > span
{
    display:block;
}
