
.last-right-expand header > .big-add {
    padding-left:3%;
    float:none;
    width:100%;
    margin:10px 0;
    font-size: inherit;
    display: none;
}

[id^="packs-"] .group-list header + [class*="-row"] > [class*="Members"] .big-add,
[id^="groups-"] .group-list header + [class*="-row"] > [class*="Members"] .big-add,
.last-right-expand > header > .big-add {
    display:block;
}

.last-right-expand header > .big-add span {
    left: 1.5%;
    margin-left: -12px;
}

.last-right-expand [class*="-row"] > [class^="id"] {
    text-align: center;
    position: relative;
    vertical-align: middle;
    width: 3%;
    display: inline-block;
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
}

.last-right-expand {
    min-height:300px;
    clear:both;
}

.last-right-expand header > *:not(.big-add)
{
    border-bottom: 2px solid #bbb;
}

.last-right-expand [class*="-row"] .title
{
    width:40%;
    padding-left:0;
}

.last-right-expand > footer > label:nth-of-type(1),
.last-right-expand > header > label:nth-of-type(1)
{
    width:28.6%;
    padding-left:3%;
    margin-left:0;
}

.last-right-expand > footer > label:nth-of-type(2),
.last-right-expand > header > label:nth-of-type(2)
{
    width:7.2%;
    text-align: center;
}

.last-right-expand > footer > label:nth-of-type(3),
.last-right-expand > header > label:nth-of-type(3) {
    width:10.2%;
    padding-right:3%;
    text-align: center;
}


.last-right-expand > footer > label {
    color:#bbb;
}

.last-right-expand [class*="-row"].selected {
    background: #E9E9E9;
}

.last-right-expand [class*="-row"] > [class*="expand"],
.last-right-expand [class*="-row"] > [class*="expand"]
{
    top: 0;
    right: 0;
    height: 100%;
    position:absolute;
    width:50%;
    background: #E9E9E9;
    z-index: 110;
    padding: 20px;
    display:none;
    margin-left: 0;
    margin-right: 0;
}

.last-right-expand [class*="-row"].selected > [class*="expand"],
.last-right-expand [class*="-row"]:hover > [class*="expand"]
{
    display: block;
}

.last-right-expand [class*="-row"]:hover > [class*="expand"],
.last-right-expand [class*="-row"]:hover > [class*="expand"]
{
    z-index: 100;
}

.last-right-expand [class*="-row"] > [class*="Members"] > form {
    display:block;
    height: 100%;
}

.last-right-expand [class*="-row"] > [class*="Members"] > form > .entity-search {
    display:block;
    vertical-align: top;
    overflow: auto;
    height:100%;
    overflow-y:scroll;
    margin-bottom:10px;
    clear:both;
}

.last-right-expand [class*="-row"] > [class*="Members"] > form > .entity-search > label.input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20px;
    padding-left:20px;
    padding-right:20px;
    display:none;
}

.last-right-expand [class*="-row"] > [class*="Members"] > form > .entity-search > label
{
    display:block;
    height:29px;
}

.last-right-expand [class*="-row"] > [class*="Members"] > form > .entity-search > label a
{
    display:inline-block !important;
}

.last-right-expand [class*="-row"] > .title label:nth-child(1),
.last-right-expand [class*="-row"] > .title label:nth-child(2),
.last-right-expand [class*="-row"] > .title label:nth-child(3) {
    width:18%;
    margin:0 -2px;
    padding:0 2px;
    display:inline-block;
    text-align: center;
}

.last-right-expand [class*="-row"] > .title label:nth-child(1) {
    width:64%;
    text-align: left;
    margin-left:0;
    padding-left:0;
}

.last-right-expand .form-actions
{
    width: 50%;
    margin: 20px 0;
    text-align:left;
}

.empty-members {
    position: absolute;
    top: 0;
    width: 50%;
    padding-bottom: 70px;
    right: 0;
    height: 100%;
}

.empty-members div {
    border:2px dashed #bbb;
    background: #ddd;
    height:100%;
    text-align: center;
    font-size:20px;
    padding-top:100px;
}

.last-right-expand .form-actions > form > .entity-search
{
    display:inline-block;
    width:86%;
    padding-left:6%;
}

.last-right-expand .empty-packs {
    margin-left:6%;
}
