
#results .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
    clear:both;
    margin-top:35px;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr.wrong > td:last-child,
#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr.correct > td:last-child {
    color:transparent;
    position: relative;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr.wrong > td:last-child:before,
#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr.correct > td:last-child:before {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    left: 50%;
    background: url(../../studysauce/images/menu_new_half.png) no-repeat -4px -1503px transparent;
    height: 16px;
    width: 16px;
    font-size: 18px;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr.wrong > td:last-child:before
{
    content: "X";
    background: none;
    color: inherit;
}

#results table.results > tbody > tr:nth-child(even) > td > table > tbody > tr:nth-child(odd) > td:last-child,
#results table.results > tbody > tr:nth-child(even) > td > table > tbody > tr:nth-child(odd) > td > table > tbody > tr > td:last-child {
    text-align: center;
}

#results table.results > thead > tr > th.filtered > label > input,
#results table.results > thead > tr > th.filtered > label > select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#results table.results > tbody > tr > td .first,
#results table.results > tbody > tr > td .last
{
    width:50%;
    margin: 0 -2px;
    padding-left: 2px;
    display:inline-block;
}

#results table.results > tbody > tr.loading
{
    text-align: center;
}

#results table.results > tbody > tr.loading div
{
    max-width:200px;
    margin:0 auto;
}

#results table.results .read-only td .checkbox input,
#results table.results .read-only td .checkbox input ~ *,
#results table.results .read-only td .checkbox input[value="ROLE_PAID"]:checked,
#results table.results .read-only td .checkbox input[value="ROLE_PAID"]:checked ~ *,
#results table.results .read-only td .checkbox input[value="ROLE_PAID"],
#results table.results .read-only td .checkbox input[value="ROLE_PAID"] ~ * {
    display:none;
}

#results table.results .read-only td .checkbox input:checked ~ span
{
    display:inline;
}

