
#results .search {
    display:inline-block;
    width:100%;
    margin-right:-300px;
    padding-right:300px;
    clear:both;
}

#results .paginate {
    display: inline-block;
    width: 300px;
    margin: 0 -4px;
    padding: 0 2px;
    vertical-align: middle;
    text-align: center;
}

#results .paginate label {
    margin: 0 -50px;
    padding: 0 50px;
    display: inline-block;
}

#results .paginate input {
    margin-right: -50px;
    padding-right: 50px;
    display:inline-block;
}

#results table.results > tbody > tr > td
{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    table-layout: fixed;
}

#results table.results > tbody > tr > td > *
{
    vertical-align: middle;
    line-height: 100%;
}

#results table.results > tbody > tr > td .checkbox {
    margin:0;
}

#results table.results
{
    table-layout: fixed;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
}
#results table.results > tbody > tr > td
{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    vertical-align: middle;
}

#results table.results > tbody > tr:hover:not(.selected):not(.edit) > td {
    box-shadow: 0 1px 4px rgba(255,255,255,.25);
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    background-color: rgba(255,255,255,.50);
}

#results table.results > thead > tr > th
{
    background:transparent;
    position: relative;
    overflow: hidden;
    padding:5px;
    white-space: nowrap;
    vertical-align: bottom;
}

#results table.results .panel-pane
{
    padding:0;
    width:auto;
}

#results table.results > tbody > tr > td table
{
    white-space: normal;
    width: 100%;
    table-layout: fixed;
}

#results table.results table tr:nth-child(even)
{
    display:none;
}

#results table.results table tr.selected + tr
{
    display:table-row;
}

#results table.results .highlighted-link,
#results table.results .tab-tracker,
#results table.results h2
{
    display:none;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > h3
{
    color:#555;
    cursor: pointer;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > h3:hover
{
    color:#09B;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > h4
{
    cursor: pointer;
}

#results table.results > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > h4:hover
{
    color:#0CE;
}

#results table.results > thead > tr > th.filtered > label > input,
#results table.results > thead > tr > th.filtered > label > select
{
    border:3px solid #FF9900;
    padding-top:0;
}

#results table.results > tbody > tr > td:nth-child(3) label:nth-child(2),
#results table.results > tbody > tr > td:nth-child(3) label:nth-child(1)
{
    width:50%;
    margin: 0 -2px;
    padding-left: 2px;
    display:inline-block;
}

#results table.results > tbody > tr > td:nth-child(1) label,
#results table.results > tbody > tr > td:nth-child(2) label
{
    display:block;
    min-height: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
}

#results table.results > tbody > tr:nth-child(even)
{
    display:none;
}

#results table.results > tbody > tr.loading
{
    text-align: center;
}

#results table.results > tbody > tr.selected + tr
{
    display:table-row;
}

#results table.results > tbody > tr.loading div
{
    max-width:200px;
    margin:0 auto;
}

#results table.results .read-only td:nth-child(2) input,
#results table.results .read-only td:nth-child(2) input ~ *,
#results table.results .read-only td:nth-child(1) input,
#results table.results .read-only td:nth-child(1) input ~ *,
#results table.results .read-only td:nth-child(1) input[value="ROLE_PAID"]:checked,
#results table.results .read-only td:nth-child(1) input[value="ROLE_PAID"]:checked ~ *,
#results table.results .read-only td:nth-child(1) input[value="ROLE_PAID"],
#results table.results .read-only td:nth-child(1) input[value="ROLE_PAID"] ~ * {
    display:none;
}

#results table.results .read-only td:nth-child(2) input:checked ~ span,
#results table.results .read-only td:nth-child(1) input:checked ~ span
{
    display:inline;
}

