
.tiles {
    margin-left:-1%;
    padding-right:4px;
}

.tiles .highlighted-link {
    padding: 0;
}

.tiles > header,
.tiles > .highlighted-link {
    padding-left: 1%;
    margin-right: -1%;
}

.tiles [class*="-row"]:hover {
    border:1px solid #09B !important;
    background: #e9e9e9;
}

.tiles [class*="-row"] {
    display:inline-block;
    width:24%;
    margin: 10px -4px 10px 1%;
    padding: 10px;
    border: 1px solid #bbb;
    position:relative;
    background: #e9e9e9;
    text-align: left;
    border-radius:1px;
    z-index: 1;
    vertical-align: middle;
}

.tiles [class*="-row"] > [class^="id"] {
    display:block;
    width:auto;
    height: 120px;
    text-align: center;
    position:relative;
    padding-bottom:25px;
}

.tiles [class*="-row"] > [class^="id"] img {
    margin-bottom:10px;
}

.tiles [class*="-row"] > [class^="id"] label {
    display: inline-block;
    width: 100%;
    clear: both;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 10px;
}

.tiles [class*="-row"] [class*="List"] {
    display:block;
    width:auto;
    height: 120px;
    background: #FFF;
    white-space: normal;
    overflow: auto;
    padding:10px;
    line-height: 140%;
}

.tiles [class*="-row"] [class*="List"] label {
    color: #BBB;
    font-weight: normal;
}

.tiles [class*="-row"] [class*="actions"] {
    position:absolute;
    right:10px;
    top:10px;
    padding:0;
    margin:0;
    width:auto;
    display:none;
}

.tiles .pack-list {
    display:block;
}

.tiles [class*="-row"] .name {
    display:block;
    width:auto;
    padding-right:10px;
    position:relative;
    padding-left: 10px;
}

.tiles [class*="-row"].read-only .name input
{
    cursor: pointer;
}

.tiles [class*="-row"].read-only:hover .name input {
    color:#09B;
}

.tiles [class*="-row"] [class*="List"] span {
    float:right;
}

@media (max-width: 1500px) {
    .tiles [class*="-row"]
    {
        width:32.33%;
    }
}

@media (max-width: 700px) {
    .tiles [class*="-row"]
    {
        width:49%;
    }
}

@media (max-width: 500px) {
    .tiles [class*="-row"]
    {
        width:99%;
    }
}



.tiles.summary [class*="-row"] {
    width:100%;
}

.tiles.summary [class*="-row"] > [class^="id"] {
    height:auto;
    padding:0;
}

.tiles.summary [class*="-row"] > [class^="id"]:before {
    content: " ";
    display: inline-block;
    padding-bottom: 10%;
    width: 0;
    margin-right: -1px;
    vertical-align: middle;
}

.tiles.summary [class*="-row"] > [class^="id"] label {
    display: inline-block;
    width: 100%;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10%;
    vertical-align: middle;
    margin-left: -10%;
    position: static;
}

.tiles.summary [class*="-row"] .pack-icon:after {
    content: " ";
    display:block;
    position:absolute;
    right:0;
    margin-top:-20px;
    top:50%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #BBB;
}

.tiles.summary [class*="-row"] > [class^="id"] label span {
    margin-left:20px;
}

.tiles.summary [class*="-row"]:hover .pack-icon:after {
    border-left-color: #09B;
}

.tiles.summary [class*="-row"] > [class^="id"] label:last-of-type {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #bbb;
    width: 100%;
    display: block;
    top: auto;
    margin-left: 0;
}

.tiles.summary [class*="-row"] > [class^="id"] img {
    width: 10%;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    max-height: none;
    position: static;
    margin-bottom:0;
}

.tiles.summary [class*="-row"] > [class^="id"] .pack-icon {
    min-height: 80px;
}

