
#validation .step
{
    display: block;
    padding: 5px;
    white-space: nowrap;
    border-bottom: 1px solid #CCC;
    border-left: 2px solid #CCC;
}

#validation .step:nth-child(odd) {
    background-color:#DDD;
}

#validation .error,
#validation .failure,
#validation .failure + .step
{
    background-color:#CC9999;
    border-bottom: 2px solid #FF3333;
}

#validation .results-inner {
    display:inline-block;
    min-width: 100%;
}

#validation {
    position: absolute;
    height: 100%;
}

#validation .pane-content {
    height: 100%;
}

#validation #sigma-container
{
    min-height: 100%;
}

#validation #settings {
    overflow:hidden;
    position:absolute;
    top:20px;
    width:auto;
    height: 50px;
    z-index: 10;
    background-color: #EEE;
}

#validation #settings.open {
    height: auto;
    width: 100%;
}

#validation #settings > * {
    display:none;
}

.sigma-tooltip {
    background-color: white;
    border:1px solid #CCC;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.50);
    border-radius: 5px;
}
.sigma-tooltip-header {
    padding: 10px;
    font-size: 20px;
}

.sigma-tooltip .previous {
    padding: 10px 10px 0 10px;
}
.sigma-tooltip .results
{
    padding: 0 10px 10px 10px;
}
.sigma-tooltip > .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
}
.sigma-tooltip.right {
    margin: 20px 40px;
}
.sigma-tooltip.right > .arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: white;
    border-left-width: 0;
}

#validation .pane-content > .result {
    position:absolute;
    right: 0;
    height: 100%;
    left: auto;
    top: 0;
    bottom: 0;
    width: 400px;
    overflow: auto;
    display:none;
    z-index: 10;
    background-color: #EEE;
}
#validation .pane-content > .result.open {
    display:block;
}

#validation #settings.open > *
{
    display:inline-block;
    vertical-align: top;
}

#validation #settings.open > h2 {
    display:block;
}

#validation #settings > h2
{
    text-transform: capitalize;
    display: inline-block;
    margin-bottom:0;
    cursor: pointer;
}

#validation .host-setting,
#validation .browser-setting,
#validation .wait-setting,
#validation .url-setting
{
    width: 50%;
    margin: 0 -2px;
    padding: 0 2px;
    display:inline-block;
    vertical-align: top;
}

#validation .suite-actions
{
    width: 150px;
    display: inline-block;
    margin: 0 -4px;
    text-align: right;
    padding: 0 4px;
}

#validation a[href="#run-all"]
{

}

#validation code {
    cursor:pointer;
}
